[2017-07-16 18:26] pbrito opened #3 "error in clojurescript"
Hi,
I'm beginning to use spec with clojurescript.
But I can't use this library.
s/explain works but not expound
[code]

[2017-07-16 21:46] bhb commented on #3
Thanks for reporting this bug!

In order to help me track down the problem, can you please let me know:

1. Your version of Clojure
2. Your version of Clojurescript
3. Your version of `org.clojure/spec.alpha` (if any)
4. The 'require' statement for expound.

Thanks!

[2017-07-16 22:54] pbrito commented on #3
I run the project with 'rlwrap lein figwheel'
[code]
Dependencies in project.clj
[code]
In the repl I do
           (require '[cljs.spec.alpha :as s])
instead of
       (require '[clojure.spec.alpha :as s])

So when I use spec it goes well:
[code]

But expound
[code]

[2017-07-17 03:14] bhb commented on #3
Thanks for the details! I am having trouble getting lein-figwheel 0.5.8 to work, but I can reproduce with that version of Clojure, Clojurescript and figwheel 0.5.11. I'm not sure what's going on - there seems to be some change in recent versions of Clojurescript where `goog.string` is not being loaded properly. I don't see the same problem on Clojurescript 1.9.542, but I realize that's not a great

[2017-07-17 03:28] bhb commented on #3
I think I may have discovered a fix. Can you try the following:

1. Clone this repo
2. cd into the main dir
3. lein install
4. In your test project's `project.clj`, change `[expound "0.1.0"]]` to `[expound "0.1.1-SNAPSHOT"]]`
5. Let me know if it is fixed :)

[2017-07-17 12:33] pbrito commented on #3
error:
Could not find artifact expound:expound:jar:0.1.1-SNAPSHOT in clojars

[2017-07-17 14:31] bhb commented on #3
@pbrito That's correct: I haven't yet pushed it to Clojars. However, the `lein install` step should install it for you locally (once you have pulled down this repo). Did you get any errors when running `lein install`?

[2017-07-17 15:03] pbrito commented on #3
Sorry! I didn't follow your instruction.

So, after following your instructions, I was able compiled without errors:
[code]
And using expound "0.1.1-SNAPSHOT" in my project returned:
[code]

[2017-07-17 16:11] bhb commented on #3
@pbrito Thanks very much for confirming the fix! I'll release a new version with this fix sometime tonight.

[2017-07-18 01:55] bhb commented on #3
Fixed with 131d86c27ef199c83c8372605153105ec4548669

[2017-07-18 01:55] #3 closed

[2017-07-18 01:55] bhb commented on #3
@pbrito Should be fixed in version `[expound "0.1.1"]`. Thanks for the bug report!

[2017-07-18 10:59] olivergeorge opened #4 "expound-printer"
It'd be nice to be able to bind expound-str to `s/*explain-out*`.  With that stest/instrument should present expound formatted descriptions in exceptions.

[code]

The main difference to the current code is that `*explain-out*` printers take explain-data as an arg.

[2017-07-18 13:56] nwjsmith opened #5 "Support for `spec/assert`?"
Thanks for expound, it's a great addition to spec.

I've been using [clojure.spec/assert](https://clojure.github.io/clojure/branch-master/clojure.spec-api.html#clojure.spec/assert) in combination with Clojure's pre-conditions. Would you be interested in a PR which adds support for assertions, or is that out-of-scope for expound?

[2017-07-18 22:38] bhb commented on #4
@olivergeorge Agreed! I've got a local branch where I'm working on this now.

[2017-07-18 22:57] bhb commented on #5
@nwjsmith Good idea! I'm working on a PR which will add support for a number of spec features, including `assert`. Once that lands in `master` (hopefully this week), can I check back in with you and see if it would work for you?

[2017-07-19 14:25] nwjsmith commented on #5
That would be fantastic. Let me know if I can help in any way.

[2017-07-22 21:08] bhb commented on #5
@nwjsmith Would you mind trying this feature before I release?

To try it:

1. `git clone git@github.com:bhb/expound.git`
2. `cd expound`
3. `git checkout expound-printer`
4. `make install`
5. In client project, change dep to `[expound "0.1.2"]`

[2017-07-22 21:12] bhb commented on #5
I have chosen not to add an `assert` function directly to Expound. I may change my mind on this, but for now, I'd like to avoid mirroring the various functions in spec.

Instead, you can set the `*explain-out*` var like so:

[code]

[2017-07-22 21:12] bhb commented on #4
@olivergeorge Do you mind trying this feature before I release?

To try it:

1. `git clone git@github.com:bhb/expound.git`
2. `cd expound`
3. `git checkout expound-printer`
4. `lein install`
5. In client project, change dep to `[expound "0.1.2"]`

[2017-07-22 21:18] bhb commented on #4
The output during instrumentation could be optimized for that use case, but I'll leave that for a further PR.

[2017-07-25 15:31] nwjsmith commented on #5
Excellent, that works for me. Thanks!

[2017-07-25 15:31] #5 closed

[2017-07-25 18:13] bhb commented on #5
@nwjsmith Thanks for reporting this and for testing the fix!

[2017-07-25 23:03] #4 closed

[2017-07-25 23:07] bhb commented on #4
Thanks for reporting this!

[2017-07-26 00:26] olivergeorge commented on #4
We just tested it in on our code (cljs preload) and it's working like a charm.

[2017-07-26 02:00] bhb commented on #4
@olivergeorge I'm glad to hear that. At some point I'm going to do more work on presenting the failure in a better way (including the source code and line numbers).

[2017-07-29 19:00] pesterhazy opened #8 "Last line of output should end in newline"
Used from the terminal:

[code]

The output (`nil`) is glued to the text. I think the last line printed by `expound` should end with a newline (like `s/explain`).

(To reproduce I use `BOOT_VERSION=2.7.2-SNAPSHOT BOOT_CLOJURE_VERSION=1.9.0-alpha17 rlwrap boot -d expound bare-repl`)

[2017-07-29 19:03] pesterhazy opened #9 "Clojure.core macro specs"
Is there a way to see the spec error generated when I type, say, `(let (a 1) a)` in the REPL printed by `expound`?

[2017-07-30 23:11] bhb commented on #9
Does the following work?

[code]

If that doesn't work, can you provide information about your REPL environment so I can try it out?

[2017-07-30 23:15] bhb commented on #8
@pesterhazy Thanks for reporting this! I can reproduce this in boot and I'll look into it shortly.

[2017-07-31 08:00] pesterhazy commented on #9
Yes, it does work, thanks! I somehow misunderstood that part of the README.

[2017-07-31 08:00] #9 closed

[2017-07-31 15:35] bhb commented on #9
@pesterhazy Glad to hear it works!

[2017-08-02 00:28] #8 closed

[2017-08-02 00:28] bhb commented on #8
@pesterhazy Thanks again for reporting this! It's been fixed in master. If this is blocking you, I can release a new version, otherwise I will add a few more features and release next week.

[2017-08-02 08:22] pesterhazy commented on #8
Not blocked :) Thanks for the fix! Nice tests btw

On Wed, Aug 2, 2017 at 2:28 AM, Ben Brinckerhoff <notifications@github.com>
wrote:

[2017-08-08 01:52] bhb opened #12 "Use `pretty-spec` to print specs"
[pretty-spec](https://github.com/jpmonettas/pretty-spec) prints specs in an easier-to-read way than the default pprint.

Unfortunately, it looks like the latest version of Clojurescript won't work with Fipp (which is a dependency of pretty-spec):

https://github.com/brandonbloom/fipp/issues/42
https://dev.clojure.org/jira/browse/CRRBV-15

[2017-08-09 01:40] jeaye opened #13 "For function specs, show which spec failed."
When instrumenting, especially with [orchestra](https://github.com/jeaye/orchestra), expound provides less information than clojure.spec would, since it doesn't say whether or not it was the `:ret` or `:args` or `:fn` that failed to validate.

Are you open to adding this support?

[2017-08-09 02:10] bhb commented on #13
@jeaye You read my mind 😄. This is something I hope to complete sometime this week.

I'm not 100% sure yet how to format the error, but it's something I want to support. Would you mind giving me feedback when I have a draft version?

[2017-08-09 02:56] jeaye commented on #13
Sure thing; let me know when you have a snapshot version, or branch or whatever you prefer, and I'll give it a shot. Thanks for the quick reply!

[2017-08-10 03:54] bhb commented on #13
I still need to do some more dogfooding on this, but I have something you can try when you have some time:

1. `git clone git@github.com:bhb/expound.git`
2. `cd expound`
3. `git co support-orchestra`
4. `lein install`
5. In your test project, include `[expound "0.1.3-SNAPSHOT"]`

The relevant tests are [here](https://github.com/bhb/expound/blob/support-orchestra/test/expound/alpha_test.cljc#L930-L

[2017-08-10 23:24] jeaye commented on #13
Thanks for the update; I can give this branch a shot in the next few days and I'll let you know how it goes.

[2017-08-10 23:38] bhb commented on #13
Excellent, thanks very much for your help!

[2017-08-13 19:24] carocad opened #15 "NullPointerException when spec uses conformer"
The following works with Clojure.spec explain but not on expound:
[code]

clojure "1.9.0-alpha17"
expound "0.1.1"

Here is the stacktrace that I obtained using aviso/pretty (let me know if you need the full raw one)
[code]

[2017-08-13 20:26] jeaye commented on #13
I've just given this branch a go with our ClojureScript app and have introduced the various `:ret`, `:args`, and `:fn` errors. The new expound output is much more helpful and the docs included in the README look great.

Thank you for the explicit orchestra support; I'm looking into the `:via` issue now.

[2017-08-13 20:55] bhb commented on #13
Glad to hear it! Thanks very much for trying this out. I'll do a release this week.

[2017-08-13 23:32] bhb commented on #15
@carocad Thank you very much for reporting this!

I'm having trouble reproducing this, but that is probably because I commented out `(s/conformer parse-radiuses)` (since I don't have the definition of that function). Would it be possible to post the definition of `parse-radiuses` and `rads-regex`?

Thanks very much!

[2017-08-13 23:41] carocad commented on #15
@bhb sorry my mistake. Here are the definitions:

[code]

The full spec is [here](https://github.com/n7a235/service.routing/blob/feature/step-url-parameter/src/service/routing/spec.clj)

Hope it helps

[2017-08-14 03:38] bhb commented on #15
@carocad Thank you! I can reproduce the bug now. I'll investigate ASAP.

[2017-08-15 00:01] #13 closed

[2017-08-15 00:02] bhb commented on #12
Closing this for now. I like the functionality, but I'm not sure I want to take on the transitive dependencies for this project. A possibility is to use fipp if it happens to be included in the host project.

[2017-08-15 00:02] #12 closed

[2017-08-15 01:47] bhb commented on #13
I have released version 0.2.0 which includes this feature. Thanks for the help! https://clojars.org/expound/versions/0.2.0

[2017-08-15 01:48] bhb commented on #8
I have released version 0.2.0 which includes this fix. Thanks for the help! https://clojars.org/expound/versions/0.2.0

[2017-08-15 01:48] jeaye commented on #13
Thank *you*!

[2017-08-16 00:53] olivergeorge opened #16 "Expound providing clojurescript?"
Something in the expound's configuration causes Cursive to have trouble resolving functions cleanly.  I'm not sure why this happens.

![image](https://user-images.githubusercontent.com/99447/29342931-1d1c0936-8271-11e7-8d1d-2c1d8ab3d524.png)

[2017-08-16 01:36] bhb commented on #16
Thanks for reporting this!

It looks like it's a known [Cursive bug](https://github.com/cursive-ide/cursive/issues/1132) but it does not appear to happen with all `.cljc` files (for instance, I could not reproduce it with [Integrant](https://github.com/weavejester/integrant)).

I'll look into this more. If there is something I can change in the `project.clj` file that fixes this without breaking o

[2017-08-16 01:37] danielcompton commented on #16
<img width="619" alt="screenshot of finder 16-08-17 1-37-03 pm" src="https://user-images.githubusercontent.com/811954/29343870-08bd6d10-8288-11e7-98fa-800918fcf435.png">

I think this is because the jar includes compiled files in it? https://repo.clojars.org/expound/expound/

[2017-08-16 02:04] bhb commented on #16
@danielcompton Thanks very much for the idea! That does indeed look suspicious. I'll look into how to exclude this directory when doing `lein deploy clojars`

[2017-08-16 02:09] danielcompton commented on #16
Because they are in `resources/public` this would be included by default. You can use [`:jar-exclusions`](https://github.com/technomancy/leiningen/blob/b34d226f56e11bb11d2b3e089cb8b618e88d3c53/sample.project.clj#L408), or maybe compile the CLJS into a different directory?

[2017-08-16 02:14] bhb commented on #16
@danielcompton Hm, I'm considering my options here. I put everything in `resources` originally so that I could connect to Figwheel in the browser to access a CLJS REPL, but it does seem cleaner to compile all CLJS for tests in, say `target`.

OTOH, just using `:jar-exclusions` would fix this for now, even if it's a bit of a hacky workaround

[2017-08-16 02:30] bhb commented on #16
@danielcompton I can confirm that excluding these files from the jar fixes the issue. Thanks **very** much for the idea, that would not have occurred to me!

I'll weigh my options and figure out a good fix for this ASAP.

[2017-08-16 03:10] bhb commented on #16
@olivergeorge OK, I think I've got a simple fix for this. I think eventually I'll take @danielcompton's suggestion to reconfigure the project to not put compiled JS in `resources`, but for now, I've updated the `:clean-targets` option in `project.clj`.

Would you mind confirming the fix?

1. `git clone git@github.com:bhb/expound.git`
1. `cd expound`
1. `git checkout cursive-bug`
1. `lein install`

[2017-08-16 03:20] olivergeorge commented on #16
@bhb Confirmed.  0.2.1-SNAPSHOT resolves the problem.

[2017-08-16 14:09] bhb commented on #16
@olivergeorge Thanks for testing!

[2017-08-16 14:10] #16 closed

[2017-08-16 14:16] bhb commented on #16
I've released 0.2.1 to address this.

[2017-08-18 00:33] bhb commented on #15
The basic problem is that Expound didn't deal at all with conformers. Whoops.

It's a bit tricky. When some data does not match a spec, Expound tries to highlight the bad portion of the data. This works well until we start conforming the data, which alters the path to the bad data (which is stored in the `:in` key).

I need to think a little bit about how to best support this.

[2017-08-18 18:39] jeaye opened #18 "Allow configuration of irrelevant data truncation"
The ommission of argument data, in failed calls to instrumented functions, is less helpful than clojure.spec would otherwise be. While I understand this brevity may be useful in some cases, my preference is to enjoy the formatting of expound without losing any data in translation. Are you open to making this truncation of irrelevant data configurable (say, using a dynamic var)?

Example:
[code]

A

[2017-08-18 23:44] bhb commented on #18
Thanks very much for reporting this. It looks like there are a few problems here.

1. The relevant specs are not showing. Is there any information in `:via` in this case? Can you possibly share your specs?

2. It looks like there is a bug with underlining (with the "^" character) in this case. It should not be so wide given the data itself is more compact.

3. The way that printing of values works

[2017-08-18 23:46] bhb commented on #18
Short discussion of goals on slack https://clojurians-log.clojureverse.org/clojure-spec/2017-07-17.html#inst-2017-07-17T18:09:19.667294Z

[2017-08-19 00:02] bhb commented on #18
The other thing that might (potentially) help here is if I could show the actually calling with the function and arg names. I'm not sure if that's possible though - something to look into.

[2017-08-19 22:15] jeaye commented on #18
Ok, so, there's some confusion here, caused by me. I'll address your points each in turn.

1. I have tried testing this locally, in Clojure and ClojureScript, and have not reproduced the issue. The issue was reported to me by a teammate, but it seems like he wasn't on the latest expound/orchestra, so the `:via` wasn't available. IFF this shows up again and I can get a good repro case for it shall

[2017-08-21 18:18] devth opened #19 "Instructions cause runtime error"
Why do the docs suggest:

[code]
?

This results in a runtime error:

[code]

https://clojure.org/reference/vars#set

[2017-08-23 00:49] bhb commented on #19
Thanks for reporting this! What version of Clojure and `clojure.spec` are you using?

[2017-08-23 01:03] bhb commented on #19
Are you running this at the REPL or in some other way?

[2017-08-23 01:07] devth commented on #19
1.9.0-alpha17. Strangely, it works in tests and in the REPL but fails when run from a `-main` inside an Uberjar.

[2017-08-23 01:12] bhb commented on #19
Thanks for the info! The following works

1. `lein new expound-client-command-line`
2. Add `:main expound-client-command-line.core` to project.clj
3. Edit `src/expound_client_command_line/core.clj` to be

[code]

I will see if I can reproduce with an uberjar.

[2017-08-23 01:36] bhb commented on #19
@devth I can reproduce with an uberjar. Unfortunately, I've been looking for a concise explanation of why this won't work with an uberjar and I haven't found anything yet, but my googling may be failing me. I'd be happy to add a note to the instructions, but I'd like to have a link or at least an explanation.

Can you talk more about your use case? In most cases, I would not expect the final uberj

[2017-08-23 01:42] bhb commented on #18
@jeaye Thanks very much for the clarification! I appreciate the follow up.

I've been chasing down some unrelated bugs, but I'm still thinking about this. Another third option occurred to me: I could provide a new printer named something like `instrumentation-printer` that is optimized for instrumentation (so far, that only means not omitting values, but perhaps there are other changes I might mak

[2017-08-23 03:06] devth commented on #19
@bhb thanks. I was partly trying to figure out why `set!` didn't work and whether I was just missing something. The docs weren't super clear, and now they're all the more confusing.

Keeping it in an uberjar was for convenience and we would have removed it eventually. I'll remove it now instead. And yes, binding would be perfectly usable in an uberjar since there's a natural entrypoint to bind fro

[2017-08-24 01:31] athos commented on #19
Dynamic vars have to be bound with `binding` before you `set!` values to them.
But, in most cases you don't have to do it yourself in the REPL for dynamic vars defined in Clojure core because Clojure REPL does that for you before getting started (cf. https://github.com/clojure/clojure/blob/master/src/clj/clojure/main.clj#L71-L89).

In this case, I think something like the following should work:

[

[2017-08-24 02:41] bhb commented on #19
@athos Ah, thank you for the explanation! This all makes more sense now.

@devth Thanks again for reporting this. I certainly did not understand all the subtleties of using `set!`. But since `set!` works in the contexts that I would expect clients to use Expound (namely, at dev time), I'm leaning towards leaving the documentation as-is for now. If this continues to be a source of confusion, I'll r

[2017-08-24 03:35] bhb commented on #18
@jeaye I'm thinking more about how we'd use this. If this was configurable, do you expect that you would enable it globally for your project? Or using `binding` to manually set it when the default printer failed to help locate the error?

[2017-08-24 04:36] jeaye commented on #18
Whichever approach you choose: dynamic var, custom printer, or something else, my team will be using it globally in both our client and server. Orchestra runs globally and we want good spec errors globally, too!

[2017-08-24 23:53] bhb commented on #18
Excellent. Thanks for the information!

[2017-08-29 01:02] bhb opened #20 "For simple predicates, expound reports "unknown" spec"
[code]

Actual:

[code]

Expected:

[code]

We are looking just for the predicate, which is unknown in this case. We should look at the `:clojure.spec.alpha/spec` key (top-level)

[2017-08-29 04:08] danielcompton commented on #15
We just hit this too when using conformers (which are very handy in general).

[2017-08-29 04:30] danielcompton commented on #15
I monkey patched `highlighted-form` so we could keep using expound. Here's what I came up with quickly:

[code]

[code]

[2017-08-29 13:28] bhb commented on #15
@danielcompton Thanks very much for posting the patched version of `highlighted-form`!

I'll think more about doing an interim bug fix. My concern is that this might not be appropriate for all users - in some cases, it's more confusing to silently return an inaccurate error rather than loudly fail when conformers are used (and harder to Google for the root cause).

One strategy I've used in our co

[2017-08-30 03:55] bhb commented on #18
@jeaye Can you try out version 0.2.2-SNAPSHOT? You can follow [these instructions](https://github.com/bhb/expound/blob/f2e967ed29789e424ea8561b07303cd2279cad7f/README.md#configuring-the-printer) to set up a custom printer. Please let me know if it works for your project.

Thanks for suggesting this change!

[2017-08-30 04:29] jeaye commented on #18
Most excellent! I'll give this a shot tomorrow. Thanks for the quick work and dependable documentation.

[2017-09-01 02:37] #20 closed

[2017-09-01 02:43] bhb opened #24 "Cannot report error when `multi-spec` is combined with another spec via `and`"
[code]

[2017-09-01 03:09] bhb opened #25 "Error message for failing `fspec` spec is not useful"
[code]

[2017-09-02 16:22] bhb commented on #15
@danielcompton Could you possibly add some examples of the conformers you are using? I want to make sure any solution I implement works in your use case. Thanks!

[2017-09-03 23:34] danielcompton commented on #15
[code]

Here's an example of our conformers. However I'm not able to make a failing test case for them anymore. I'm not sure what to do to make them fail sorry.

[2017-09-04 08:57] carocad commented on #15
Hmmm I just realized that my conformer doesnt conform to the Clojure definition. "i.e. it should return either a (possibly converted) value or :clojure.spec/invalid". My conformer just throws or returns an empty list if it couldnt succeed.

Maybe that is why @danielcompton conformer doesnt fail anymore but mine still does :/

[2017-09-04 14:47] bhb commented on #15
@danielcompton Not a problem. I'm just trying to get a sense of the use cases since I haven't yet used conformers in my specs.

@carocad Thanks, that's very helpful to know! I do think this is a missing feature in Expound, but it's good for me to know what a valid conformer looks like, so I can at least build the Expound feature on this constraint.

Apologies for the delay on this feature: I have

[2017-09-04 21:21] danielcompton commented on #15
Yeah, I have a feeling my early conformers may have been throwing exceptions. However I still can't reproduce my initial problems.

[2017-09-05 18:01] jeaye commented on #18
Trying this now. Sorry for the delay!

[2017-09-05 19:04] jeaye commented on #18
Yeah, this `{:show-valid-values? true}` does the trick. Thanks so much. It also raises another problem, however, which imposes another request for configuration onto expound. With valid values not being elided, the spec explanations can be so long that Android's logging system cuts them off (it only allows like 10 lines or so).

My first thought was "No problem, I'll use a custom printer to do a `

[2017-09-05 19:10] jeaye commented on #18
Oh, to follow up, the `:value-str-fn` only covers the rendering of the value. So it looks like I could override `s/*explain-out*` myself, have it call `expound/custom-printer` within a `with-out-str` and then chunk that.

[2017-09-05 21:05] jeaye commented on #18
I'm closing this, since the snapshot works exactly as expected. Thanks, again, for the help and I'm looking forward to a full `0.2.2` release. :)

[2017-09-05 21:05] #18 closed

[2017-09-06 00:14] bhb commented on #18
@jeaye Thanks very much for reporting this and for testing the fix!

[2017-09-06 03:15] bhb commented on #18
I've released [Expound 0.3.0](https://github.com/bhb/expound/blob/master/CHANGELOG.md#030---2017-09-05)

[2017-09-06 03:16] jeaye commented on #18
Alright! Awesome work.

[2017-09-15 21:46] cjohansen opened #27 "Nested map"
I have a case that's working with spec, but failing with expound:

[code]

Clojure 1.9.0-alpha19

[2017-09-15 23:26] bhb commented on #27
@cjohansen Thanks very much for reporting this. I'll take a look ASAP.

[2017-09-16 09:01] cjohansen commented on #27
Awesome. Let me know if you need help or more information.

[2017-09-20 02:49] bhb commented on #27
@cjohansen Thanks for reporting this! Would you mind trying out 0.3.1-SNAPSHOT to confirm this works with your specs?

[2017-09-20 07:05] cjohansen commented on #27
Works perfectly! Nice work 👍

[2017-09-20 07:05] #27 closed

[2017-09-23 16:56] bhb commented on #15
I haven't forgotten about this. It's not clear how to accomplish this with the current implementation of pretty-printing the invalid value, so I'm refactoring that code to see if I can enable this scenario.

[2017-09-26 01:28] athos opened #31 "s/coll-of on sets fails"
[code]

As far as I know, `s/coll-of` should be applicable to non-sequantial collections (including sets).
According to the stack trace, it looks like the error occurs here:

https://github.com/bhb/expound/blob/7853f0fb1da5acff0ac9e26fefd87dc0ce93405a/src/expound/paths.cljc#L81

[2017-09-26 03:27] bhb commented on #31
Thanks very much for reporting this! I can reproduce this and I think I have a fix. Can you try 0.3.1-SNAPSHOT and see if that works for your project?

[2017-09-26 03:36] athos commented on #31
Thank you for your quick reply! I see the things work fine. Thanks a lot 😄

[2017-09-26 23:02] #31 closed

[2017-09-27 00:17] bhb commented on #27
Thanks again for your help on this! I've just released Expound 0.3.1 which includes this fix.

[2017-09-27 00:17] bhb commented on #31
Thanks again for your help on this! I've just released Expound 0.3.1 which includes this fix.

[2017-10-20 01:39] bhb commented on #15
@carocad @danielcompton Thanks again for reporting this and the detailed information above.

I've thought a lot about this. You can read all the [boring details](https://github.com/bhb/expound/pull/34/files#diff-23ce70b6814318c30b2c1e73e13ef22e) but the summary is this: it's really difficult to support this use case in a general way. Furthermore, AFAICT, using conformers to transform values (as in

[2017-10-21 02:14] danielcompton commented on #15
Thanks for the investigation into this. It's a bit disappointing spec's conformers aren't supported for this use case but I guess it is what it is. Thanks!

[2017-10-21 14:22] bhb commented on #15
@danielcompton I don't think you're alone in your disappointment on this issue. I haven't personally used conformers but I know a lot of people are pushing to either have spec support this use case or find a good library solution.

[2017-10-21 22:03] bhb opened #36 "Expound gives misleading error when `ns` call is incorrect"
Repro:

[code]

Actual:
[code]

Expected: The value could actually be `:exclude` or `:only` or `:rename` etc. Here is the default error message via explain.

[code]

Details https://www.reddit.com/r/Clojure/comments/778tc2/is_clojure_19_improving_error_messages/dokmvma/

[2017-10-21 23:38] #15 closed

[2017-10-30 03:03] #25 closed

[2017-10-30 12:14] athos opened #41 "Fails to report spec error when a non-fn IFn value doesn't conform to a fspec"
Repro:

[code]

Expected Expound would report the spec error that the input value didn't conform to the fspec, but throws a misleading error that says there may be a conformer (which is not true, in fact).

[2017-10-30 14:03] bhb commented on #41
Thanks very much for reporting this bug!

This is a tricky one to solve in general.

A little context: Expound uses the data returned by `explain-data` to print an error message.

This "explain-data" contains a "value" (which is the top-level form) and a sequence of problems, each of which contains (among other things) a "val" (which points to the bad value) and an "in" (which is the path to the b

[2017-10-31 02:10] bhb commented on #41
@athos Thanks again for reporting this! I don't think it's possible to fix this in every case, but I think I have a heuristic for the more common cases. Can you try out `0.3.3-SNAPSHOT` and see if it works in your case?

[2017-10-31 14:57] athos commented on #41
Thank you for the quick reply and polite explanation about the context.
I'm a little bit familiar with those things since I'm also working on a library similar to Expound (named [Pinpointer](https://github.com/athos/Pinpointer)) for more than a year 😃

I looked into the issue today, and now I see the difficulty of giving a general solution to it. In general, a return value generated by a `fspec` c

[2017-10-31 16:44] bhb commented on #41
@athos

Excellent! I took a quick look at Pinpointer and it looks great! I'll look take a look at Jira issues you've opened for spec and vote them up. Anything that makes it easier to build something like Expound or Pinpointer helps everyone :)

[2017-11-01 01:22] #41 closed

[2017-11-02 04:09] arichiardi opened #44 "Add Ansi coloring printer"
Awesome awesome project!

For outputing to terminal, say for instrument called within `clojure.test`, it would be awesome to have ansi color codes.

Just an idea,  keep up the good work and thanks!

[2017-11-02 14:14] bhb commented on #44
@arichiardi Great idea! I have a few ideas on how to start with this.

Unfortunately, it's a bit tricky to describe via GitHub issues because AFAICT, we can't colorize the Github-flavored-markdown, but I'll do my best :)

From the sample output in the README:

[code]

`:CO` i.e. the "non-conforming value" : color A
`^^^` i.e. the the "highlight" : color B
`string?` i.e. the "predicate" : color A (

[2017-11-02 17:45] bhb commented on #44
Yep, good idea. Probably a third color C for this.

Yes, perhaps just `:v` and `any`.

[2017-11-02 23:36] bhb commented on #41
@athos I've released version 0.3.3 which contains this fix. Thanks for your help!

[2017-11-13 15:51] vemv opened #48 "Expound cannot handle js/NaN"
Hi!

I found the following issue, where spec can handle NaN but Expound not:

`(spec/conform (constantly false) js/NaN)` -> `:cljs.spec.alpha/invalid`

---

`(expound/expound (constantly false) js/NaN)`:

[code]

Thanks for this library, we've been enjoying it at work for quite a few months now!

Cheers - Victor

[2017-11-14 00:28] bhb commented on #48
@vemv Thanks very much for reporting this issue! I'll take a look soon.

[2017-11-14 03:29] #48 closed

[2017-11-14 03:32] bhb commented on #48
@vemv Thanks again for reporting this bug. I've put a fix in master and pushed 0.3.4-SNAPSHOT to clojars if you want to try it. I should be putting out a bug fix release with this and a few other bug fixes sometime in the next week.

[2017-11-14 10:39] vemv commented on #48
Confirming it works! Thank you! 🍻

[2017-11-14 19:37] vemv opened #50 "Strange handling of complement / not"
Hi again!

By evaluating `(expound/expound (complement string/blank?) "")` one will get:

[code]

The `/` is quite confusing.

If I try with `(expound/expound (fn [x] (not (string/blank? x))) "")` I'll get the same output.

Tried out with clojurescript.

Hope this one can be improved!

Cheers - Victor

[2017-11-15 00:12] bhb commented on #50
@vemv Thanks for reporting this! I had noticed this as well last night, and you're right, this is really confusing! I'll work on a fix.

[2017-11-15 02:09] bhb commented on #50
@vemv Unfortunately, it turns out that we can only do a little better in this case. The slash is really confusing, but the best I can do at this point is to print out "<anonymous function>" since spec doesn't capture the original code. Here's what it looks like in my branch (compared to the default spec output for reference):

[code]

[2017-11-15 02:13] bhb commented on #50
I can likely do better once https://dev.clojure.org/jira/browse/CLJ-2068 is fixed!

[2017-11-15 02:14] bhb commented on #50
Ah, nevermind:

[2017-11-15 02:16] bhb commented on #50
OK, I've just released a new version of "0.3.4-SNAPSHOT" which contains these changes (you'll need to delete your old copy in `~/.m2/repository/expound/expound` and reinstall)

[2017-11-15 02:53] athos commented on #50
BTW I don't think this really matters in practice, though.

clojure.spec is not good at handling bare predicates in terms of error reporting while you can work around it by wrapping them with `s/spec`:

[code]

It also works to just `s/def` a name for the predicate:

[code]

[2017-11-15 04:02] #50 closed

[2017-11-15 13:54] vemv commented on #50
Hey there!

Thank you, much better now 🍻

Perhaps if `expound/expound` was a macro, it could take the _quoted predicate form_ as a "fallback print value" in case the predicate was unprintable?

I realise turning defns macros is bit of a dubious move (and a breaking change). Maybe `expound*` could be offered?

[2017-11-15 23:31] bhb commented on #50
@vemv Excellent, I'm glad it works.

You're correct, if `expound` was a macro, I could do more. However, this might quickly get complicated. For instance, if the call to `expound` was `(expound/expound (s/coll-of (complement string/blank?)) [""])`, `expound` would need to locate the predicate within the spec and match it with the failing predicate.

I suspect it could be done, but since wrapping t

[2017-11-19 20:16] bhb commented on #36
Fixed by https://github.com/bhb/expound/pull/53

[2017-11-19 20:16] #36 closed

[2017-11-20 00:40] #24 closed

[2017-11-20 00:47] bhb commented on #48
I've just released 0.3.4, which includes this bug fix.

[2017-11-20 00:47] bhb commented on #50
I've just released 0.3.4, which includes this bug fix.

[2017-12-01 18:13] carocad commented on #44
@bhb maybe it would be a good idea to have a color convention similar or equal to `figwheel` colors for compiler error messages.

The idea is to make the colors as predictable as possible, and since figwheel is (afaik) the standard for Clojurescript I think that it would help to ease understanding the error messages.

- [figwheel function](https://github.com/bhauman/lein-figwheel/blob/196b8eff2796

[2017-12-02 00:38] bhb commented on #44
@carocad That's a good idea - Figwheel has already put a lot of thought into this, and it would mean that if you're familiar with Figwheel messages, you'l have an easier time reading Expound error messages as well.

[2017-12-07 16:39] jefffriesen opened #58 "Adding examples to error messages"
@bhb

The other day we talked about your ideas to add "did you mean..." examples to an error message by filling in the missing arguments based on the spec. I still think that's a great idea. Here is another cool approach that @oakes laid out in a gist: https://gist.github.com/oakes/8db57ac808bf6ec144d627fd83a89da3

It uses `defexample`s to show show an example of how a function can be used. (I app

[2017-12-08 00:48] bhb commented on #58
@jefffriesen It's a good idea! I do think examples would be really useful in this context, especially for beginners who may have less familiarity with the spec syntax.

This isn't well documented in Expound currently (hmm, maybe I need to use Dynadoc to document the API 😄 ), but it's possible to modify the default Expound printer, so any user could add extra info like the defexample to the output.

[2017-12-08 03:14] jefffriesen commented on #58
Sounds like a great plan.
(I've voted for that Jira issue 😄)

[2017-12-15 14:54] nathell opened #60 "Don't pack resources/public/index.html into the release jar"
I am using expound in development mode for my app, and due to the way my app's routes are implemented, expound's `index.html` takes precedence over my app in dev mode.

It appears to be only useful for development of expound itself, therefore I think it should not be included in the release jars.

[2017-12-15 15:04] bhb commented on #60
@nathell Thank you for reporting this! You're correct, it should not be included. I'll fix with the next release.

[2017-12-16 01:12] #60 closed

[2017-12-16 18:28] bhb commented on #60
@nathell Thanks again for reporting this. The bug should be fixed in Expound 0.4.0.

[2017-12-31 10:24] ikitommi opened #62 "Report on misspelled keys on `s/keys` & `s/merge`"
Hi.

And thanks for the awesome lib! Would it be possible to have a way to report on extra keys on `s/keys` or `s/merge` specs? I have a configuration with mostly all the keys unqualified and optional. There is no guard against misspelled keys at the moment.

Foremost, this would be useful on the development phase, thus looking at expound :)

Added helpers on [spec-tools](https://github.com/metosi

[2017-12-31 15:10] bhb commented on #62
@ikitommi Thanks very much for the idea!

I'm going to think a bit about whether this is something that fits well into Expound.

One concern is that I'm wondering if there a way to consistently get all keys for Clojure and Clojurescript in the case where there are multi-specs that use `keys`. There's more detail in [this thread](https://groups.google.com/d/msg/clojure/i8Rz-AnCoa8/GmaCxz-PBwAJ). Th

[2018-01-02 13:25] ikitommi commented on #62
Hi. I poked with the [strictly-specking](https://github.com/bhauman/strictly-specking) that figwheel is using. Did a PR to make it work with Clojure 1.9.0. It does all the things I would like to have, but sadly, requires a custom `ss/strict-keys` to be used to get the errors for extra keys.

If the config maps were only 1-level deep, I could let the users define the spec as vanilla `s/keys` and co

[2018-01-18 05:18] bmabey opened #64 "does not work with `s/or` and multiple spec maps"
I'm running into this assertion error:
[code]
https://github.com/bhb/expound/blob/master/src/expound/printer.cljc#L47

Any idea why this may be?
I'll dig in and see what the actual values are. If anything I think the error message here could be improved since the vanilla assert message is not helpful.

Here is the full stack trace:
[code]

[2018-01-18 14:14] bhb commented on #64
@bmabey Thanks very much for reporting this!

This is an internal check that unfortunately cannot be resolved by your client code - it means that Expound incorrectly assumes that all problems refer to the same piece of invalid data. If that's *not* true, Expound is going to have a bug anyway, so this assert catches the problem early. That's why the error message isn't too good - the only resolutio

[2018-01-18 17:05] bmabey commented on #64
The bug occurs when using `s/or`. Here is a reduced and contrived example that will trigger it:

[code]

[2018-01-18 22:50] bhb commented on #64
@bmabey Thanks for the repro! I'll fix ASAP

[2018-01-24 02:34] bhb commented on #64
@bmabey Thanks again for reporting this. Can you try `0.4.1-SNAPSHOT` and see if it works for you?

[2018-02-01 02:28] arichiardi opened #67 "Tuple with set predicate not reported correctly"
Hi again :smile: I have a bit of an improvement request :smile:

I have a spec with a set predicate:

[code]

Spec error was:

[code]

And `expound` error:

[code]

[2018-02-01 15:18] bhb commented on #67
@arichiardi Thanks for reporting this! Just to make sure I understand the repro, do you mind pasting the call that triggered this? Was it an instrumented function call?

[2018-02-02 01:30] bhb commented on #64
@bmabey Does this fix your issue? You can try it out by using `0.4.1-SNAPSHOT`. Thanks!

[2018-02-02 01:31] bmabey commented on #64
It is hard for me to reproduce the error in my system now but if the above use case is handled I think this will prevent it from happening again. Thanks!

[2018-02-02 01:31] #64 closed

[2018-02-02 01:48] bhb commented on #67
@arichiardi Thanks again for reporting this! I'm unable to repro, so I suspect I'm not doing the repro steps correctly 😄

Here is what I tried on the REPL with Expound 0.4.0

[code]

And I got

[code]

I tried on Clojure 1.9.0 and Clojurescript 1.9.946. Are you on different versions?

[2018-02-02 02:41] arichiardi commented on #67
Oh ok the test seems fine, thanks for trying it out!
The only difference is that I am running on `lumo`, so maybe that is why the errors are reported differently.

[2018-02-02 02:54] bhb commented on #67
@arichiardi Interesting! I haven't tried it on lumo, so I'll need to look into that. I haven't had a chance to use lumo much - is there a relevant config file you can share that sets up the version of Expound and Clojurescript?

[2018-02-02 02:54] bhb commented on #64
@bmabey No worries, thanks for the feedback!

[2018-02-02 02:57] arichiardi commented on #67
Not at the keyboard now but probably I should check what `expound` relies on and check if lumo provides it correctly

[2018-02-02 03:06] arichiardi commented on #67
The script you tried up there basically works the same with lumo, you could just:

[code]

It should work, make sure you install the lastest:

[code]

https://www.npmjs.com/package/lumo-cljs

[2018-02-03 18:53] bhb commented on #67
@arichiardi Unfortunately, I'm still having trouble reproducing. Here are my steps:

1. `npm install -g lumo-cljs@1.8.0-beta`
2. Run script in lumo:

[code]

Just double checking - are you using Expound 0.4.0?

[2018-02-04 02:13] arichiardi commented on #67
I have tried again and cannot reproduce the original error I tried yours and it is working. I am using `s/check-asserts` but it works the same. I will try to observe the situation, we can close this for now and reopen it later. I will try to be more careful and don't create too much noise next time...

[2018-02-04 02:13] #67 closed

[2018-02-04 15:06] bhb commented on #67
@arichiardi Yes, if you see this again, please don't hesitate to reopen this issue. I'd love to get this fixed. Thanks for using Expound!

[2018-02-07 04:06] bhb commented on #64
@bmabey I've released Expound 0.5.0, which includes this fix.

[2018-03-13 06:55] kennyjwilli opened #72 "Handle printing of clojure.spec.test.alpha/check results"
The output from `clojure.spec.test.alpha/check` is unwieldy. Seems like Expound could provide a way to cleanly print these results.

[2018-03-13 17:40] kennyjwilli commented on #72
For example, take this simple function:

[code]

Running `(clojure.spec.test.alpha/check fabulous)` results in this mountain of text: https://pastebin.com/bxcaiYzn (put in pastebin because of its length).

We can do a little better by passing some data from the returned map to expound:

[code]

It looks like `expound.alpha/spec-name` is not correctly resolving the spec name, thus the first `nil`.

[2018-03-14 01:04] bhb commented on #72
@kennyjwilli Thanks for reporting this! I haven't used `clojure.spec.test.alpha/check` myself, so I hadn't considered this use case, but it's a good idea. I'll look into it.

[2018-03-16 01:23] bhb opened #73 "Expound omits second problem"
Compare:

[code]

Output is:

[code]

With expound:

[code]

Output (in part)
[code]

Note that the more interesting case is omitted - that the parent collection is a list instead of a vector.

[2018-03-16 14:49] bhb opened #74 "Allow predicate error messages to be functions"
The second arg to expound/def could either be a string or a function that is passed the problem (and maybe the spec itself?) and returns an error string. I believe that would allow you to grab any information you’ve added to the problem and would also allow you to include any relevant information (e.g. the range information) in the message.

https://clojureverse.org/t/improving-error-messages-in-c

[2018-03-28 14:15] leontalbot opened #77 "Only return error message string?"
Is there a way to pass a fn to spec and value and that it would return error message string.

[code]

[2018-03-28 17:57] bhb opened #78 "When expound can't print error (due to conformers), print vanilla spec error"

[2018-03-28 22:37] aviflax commented on #72
OMG yes please!

[2018-03-28 23:11] bhb commented on #77
I discussed this on slack with @leontalbot but in case someone else finds this, I suggested the following:

[code]

[2018-03-28 23:11] #77 closed

[2018-03-29 13:37] bhb opened #79 "Spec error refers to `:args` incorrectly"
[code]

[2018-03-30 21:07] bhb opened #80 "Custom error messages for preds look weird"
[code]

Note that last line looks like it is not indented correctly.

In some cases, we want custom error message to be all the way to the left though (this is current behavior):

[code]

[2018-03-30 21:08] hlship commented on #80
Thanks for adding this!

[2018-04-01 23:50] arichiardi commented on #44
This is great and I will definitely try this out as soon as possible. Thanks a lot!

[2018-04-03 08:46] carocad opened #81 "expound seems to print explain a problem twice whenever a compile time error is found"
with the following setup in v0.5.1-snaptshot

[code]

Given that Clojure specs are quite complex the error message is equally large. Having it twice definitely doesnt help.

However the output from Expound is very organized so the problem becomes very manageable.

Hope it helps

[2018-04-03 08:52] carocad commented on #81
more info:

This seems to be Clojure problem. Not sure if there is already a ticket for it though. Doing the same commands as above you still get 2 different errors in the repl

[code]

[2018-04-03 09:05] carocad opened #82 "consider making the `relevant specs` section optional"
As specs grow the failing part might be quite deep in the validation stack.

This creates some readability problems since the `relevant-specs` section becomes too large to be usable at all. See example below:

![screen shot 2018-04-03 at 10 53 50](https://user-images.githubusercontent.com/10408729/38239668-b3d109be-372d-11e8-9f0c-a84b873d3c9f.png)

I have a 21 inch screen (I think :D ) and even so

[2018-04-03 09:26] carocad commented on #44
@bhb I just gave it a try and I think it is a wonderful piece of work :)

I will stay with the snapshot version until a full release comes out just so that I can keep the colored output.

For those that come here and are curious about it here are some screenshots on the output on my Cursive IDE.

![screen shot 2018-04-03 at 11 18 31](https://user-images.githubusercontent.com/10408729/38241109-b420

[2018-04-03 09:34] carocad commented on #79
@bhb not sure if this is also relevant but shouldnt the `syntax error` above also show the `let` part?

Currently it seems to be stripped away which puts away part of the context of the expression.

[2018-04-03 12:44] bhb commented on #82
@carocad Thanks for reporting this!

I agree, the "Relevant specs" section is very noisy right now.

I have some ideas about to compact this section. One idea is to omit parts of it, as you have suggested. I am also thinking about a format like the one show in [this video clip](https://www.youtube.com/watch?v=o75g9ZRoLaw) (the output of `syndoc`). Unfortunately, that will probably need to wait.

G

[2018-04-03 12:56] bhb commented on #81
@carocad Thanks for reporting this. Yes, you're correct: this is an issue with the way Clojure prints out data when it sees an exception (and the information attached to an exception when instrumentation fails).

I agree, it's very noisy and repetitive. Unfortunately, the expound printer can't control this directly. I'm not sure of the best fix here, but I seem to recall that it's possible to conf

[2018-04-03 12:58] bhb commented on #44
@carocad Thank you for trying it out and for the suggestions above!

[2018-04-03 13:03] bhb commented on #79
@carocad Yes, I agree, it should show the `let` part - that would make things much more clear.

Unfortunately, the data from spec doesn't currently include the function/macro name. It'd be great if this was fixed - please vote for https://dev.clojure.org/jira/browse/CLJ-2271 😄

Until the above bug is fixed, I'm considering adding a placeholder, so this would look like:

[code]
... to indicate thes

[2018-04-03 13:16] carocad commented on #82
It looks like a very interesting way of approaching the problem :)

I think however that you should avoid trying to define `(yet)` another grammar language for displaying specs. I dont have a good proposal about it unfortunately, but in my experience creating mappings between two worlds always ends up with leaky abstractions and complications for the users.

[2018-04-03 13:25] carocad commented on #79
@bhb if I would have to choose between no macro info and placeholder I would choose no macro info. Since I am typing the code I can get a pretty rough idea of where the execution failed based on the rest of the info. I think that putting a placeholder would only confuse things since that is nowhere to be found in the code that the user wrote.

So far I have only encountered this problem for Clojur

[2018-04-03 14:27] carocad commented on #81
@bhb after some comments in the slack channel it seems that this is not a Clojure problem but a Cursive/expound one.

Clojure returns a single `compiler$compilerException` but that exception contains a compiler exception and an `ex-info` (`ExceptionInfo`). I guess that both Cursive and expound are just printing every exception that they get their hands into thus causing a double printing.

You can

[2018-04-03 21:25] bhb commented on #79
@carocad Thanks for the feedback!

[2018-04-03 21:51] bhb commented on #81
@carocad Thanks for looking into this!

I can replicate the same results as you, so we're on the same page 😄

Unfortunately, I don't think Expound can resolve this. Expound is just a replacement for the default spec printer, but it doesn't control the exception that is thrown, or how exceptions are displayed.

AIUI, this is controlled by REPL configuration (in your case, Cursive may be controlling

[2018-04-03 21:53] bhb commented on #81
I don't use boot myself, but I found this note on the pretty page:

https://github.com/AvisoNovate/pretty

Does your REPL happen to be started by boot? If so, it may be setting up this exception printing by default.

[2018-04-04 09:10] carocad commented on #82
yes using `:print-specs false` solved the issue :)

thanks for the info

[2018-04-05 01:04] bhb opened #85 "Add documentation"
None of the functions have docstrings, and a page listing all public functions would be good.

[2018-04-05 01:05] bhb commented on #82
@carocad Thanks for reporting this! Since there is an option to turn of relevant specs, I'm going to close this for now and continue to think about ways to make this section less verbose.

[2018-04-05 01:05] #82 closed

[2018-04-05 01:15] bhb commented on #81
@carocad Thanks for bringing this to my attention. I'm going to close this for now since I don't *think* expound can fix this, but please reopen if you discover something different 😄

[2018-04-05 01:15] #81 closed

[2018-04-05 17:39] kennyjwilli commented on #72
The approach seems good - that's is exactly how I'd use it.

I know you said the error messages need some work, but I thought I'd still let you know of a couple cases that aren't reported correctly.

This example fails with an ClassCastException but Expound thinks it was successful.

[code]

Sometimes test.check may fail to generate. In this case we get an exception that says "Unable to construct

[2018-04-06 02:31] bhb commented on #72
@kennyjwilli This is extremely helpful feedback. Thanks!

[2018-04-13 19:02] arichiardi opened #87 "Npm packaging"
Hey @bhb other crazy idea :smile:

I attach a [blog post](https://andrearichiardi.com/blog/posts/lumo-npm-dependencies.html) how to do it but of course I can help.

This would allow seemless integration with `lumo`.

How does it sound?

[2018-04-16 23:58] arichiardi commented on #87
Closed by #88.

[2018-04-16 23:58] #87 closed

[2018-04-23 18:53] bhb commented on #72
@kennyjwilli @aviflax Thanks for the detailed help on how failure modes of `check`. I've released another version of `0.5.1-SNAPSHOT` that covers the cases you've mentioned above. Can you give it another try? Thanks!

[2018-04-25 21:46] kennyjwilli commented on #72
Looks good. Here's another example that isn't working correctly.

[code]

Running `(st/check my-broken-add)` does not pass. This applies for any function that throws an exception while executing:

[code]

[2018-04-25 21:58] bhb commented on #72
@kennyjwilli That's weird, I see different behavior locally. When I try, I get

[code]

Is it possible that your local version of `0.5.1-SNAPSHOT` is out of date or cached? I just updated it a few days ago.

[2018-04-25 21:58] bhb commented on #72
Perhaps try `rm ~/.m2/repository/expound/expound/0.5.1-SNAPSHOT` and try again to force a re-download?

[2018-04-25 23:24] bhb commented on #72
@kennyjwilli Hmm, this is very strange. I fear that I've done something wrong here, or there is some context that I'm missing. I appreciate your help on this!

What happens if you do the following?

`clj -Srepro -Sdeps '{:deps {expound {:mvn/version "0.5.1-20180423.185123-3"} org.clojure/test.check {:mvn/version "0.9.0"} org.clojure/clojure {:mvn/version "1.9.0"}}}'`

And then, in the REPL, you do

[2018-04-25 23:41] bhb commented on #72
@kennyjwilli What's weird is that I thought I saw the behavior you reported at one point, but now I cannot reproduce. I wonder if there is something weird with `check` behaving in non-deterministic ways, or expound missing some specific error case. I'll continue to look.

[2018-04-26 16:17] kennyjwilli commented on #72
`clj` is great for debugging these sorts of problems! Running with the `clj` deps and the above code, I do get the expected result. Perhaps Boot is not using the correct Expound jar for some reason. Gotta love SNAPSHOTs... :upside_down_face:

[2018-04-26 17:52] bhb commented on #72
@kennyjwilli Excellent, glad to hear it worked. Thanks for all your help!

[2018-04-27 00:54] bhb commented on #44
@ arichiardi @carocad This feature is included in 0.6.0. Thanks for all your help!

[2018-04-27 00:54] #44 closed

[2018-04-27 00:55] bhb commented on #72
@kennyjwilli @aviflax This feature is in expound 0.6.0. Thanks for all your help!

[2018-04-27 00:55] #72 closed

[2018-04-27 01:01] kennyjwilli commented on #72
@bhb Thanks for your responsiveness and great work. Looking forward to using this feature!

[2018-05-08 02:38] bhb commented on #85
Fixed with https://github.com/bhb/expound/pull/91

[2018-05-08 02:38] #85 closed

[2018-05-10 13:42] vemv opened #92 "Printing messages without newlines or separators"
Hi!

I'm trying to use expound for generating nice `ex-info` objects.

Example:

[code]

The problem is, the `\n`s and `--------------------`s don't make sense in this context, they make things less readable:

![image](https://user-images.githubusercontent.com/1162994/39872543-9c5d88a4-5468-11e8-84f4-ca71d5382673.png)

Is there currently an option to remove them?

Thanks - Victor

[2018-05-13 19:55] vemv commented on #92
Thanks for the explanation @bhb !

I might give a shot to a PR, assuming the changes aren't too intrusive.

[2018-05-13 21:27] bhb commented on #92
@vemv I haven't dug in, but off the top of my head, I think it'd require some pretty in-depth design on a number of parts of error messages, including

1. How to highlight the bad value when it's part of a larger value
2. How to handle multiple branches of `or` specs
3. How to print out tables of missing keys

Just fair warning - you're welcome to make a PR, but I think the bar for this change is

[2018-05-13 23:54] vemv commented on #92
Again, thanks for the fair warning!

I gave some thought to your feedback.

Probably plain data could do the job:

[code]

Something like that. With a bit of luck, expound could build this data structure first, and build its traditional informational messages on top of that.

It doesn't sound easy but I had been wanting to allocate a day to FOSS!

[2018-05-14 13:21] conan opened #93 "Internal Expound assertion failed using ring.core.spec"
I've written a function spec for my top-level ring handler, which is a function called `app` that calls `reitit.ring/ring-handler`.   It looks like this:
[code]
The `:ring/handler` spec is defined in [ring-spec](https://github.com/ring-clojure/ring-spec/blob/master/src/ring/core/spec.clj#L178).

There's some kind of problem when I call (or `s/explain` the result of) this function that makes Expoun

[2018-05-15 01:14] bhb commented on #93
@conan Thanks very much for reporting this! It appears to be a bug in Expound.

[2018-05-29 14:20] bhb commented on #62
@ikitommi @bhauman just released [spell-spec](https://github.com/bhauman/spell-spec). Would this work for your use case here?

[2018-05-29 14:49] ikitommi commented on #62
This is it. Will start integrating that into spec-tools.

[2018-05-29 14:53] #62 closed

[2018-06-07 22:02] bhb opened #101 "`defmsg` only works for some types of specs"
If you attach a message to say, a set-based spec like

`(expound/def ::myspec #{1 2 3} "should be foo")`

it won't print the message

[2018-06-07 22:05] hlship commented on #101
The suggestion, to wrap the set as `#(contains? #{1 2 3} %)` does work.

[2018-06-17 19:02] bhb opened #102 "Limitation on using conformed values limits usefulness of some `s/and` specs"
Expound doesn't support using [conformers to coerce values](https://github.com/bhb/expound#conformers), because it significantly complicates the way Expound highlights the bad value (Expound uses a bunch of heurisitics to try to disambiguate the information returned by `explain-data` and these heuristics rely on the original unconformed value appearing the larger structure).

However, this restric

[2018-06-23 01:16] jmlsf commented on #102
Sadly, it means expound fails on the very first example of instrumentation in the official spec guide use `s/def` (the `ranged-rand` example).  I wonder, would it be possible to drop back to the original `explain` in cases where expound fails?  That'd be better than just getting an exception.

[2018-06-23 03:21] bhb commented on #78
Related: https://github.com/bhb/expound/issues/102#

[2018-06-23 03:29] bhb commented on #102
Ah, good point, that's not a great experience for someone working through the official docs 😞 . Thanks for pointing that out 😄

Certainly defaulting to normal output is one option I'm considering. I'm not sure if falling back on normal `explain` should be the default or something you can opt into with a configuration. Before I realized that `and` had this issue, I was leaning towards "you must opt

[2018-06-24 18:21] bhb commented on #73
This is fixed and will be included in the next release. In the meantime, there 0.7.1-SNAPSHOT includes this fix.

cc @carocad @jumarko @aisumu

[2018-06-24 18:21] #73 closed

[2018-06-24 20:36] bhb commented on #79
The fix will be in the next release, currently in 0.7.1-SNAPSHOT.

[2018-06-24 20:36] #79 closed

[2018-06-24 21:30] bhb commented on #93
Some changes in 0.7.1-SNAPSHOT make this *slightly* better - instead of giving an error, expound prints the (confusing, at least to me) error message:

[code]

I'm going to leave this open until I can look into this more.

For reference, a test that reproduces the issue for me:

[code]

[2018-06-24 23:50] bhb commented on #101
Related: https://github.com/bhb/expound/pull/96 - this would allow users to add messages to existing spec messages (or overwrite them completely)

[2018-06-24 23:57] bhb commented on #93
Hm, this may relate to over-using the internal function `predicate-errors` in too many places.

[2018-06-25 01:24] bhb opened #106 "Alternation for missing element doesn't display correctly"
Repro:

[code]

Actual:
[code]

Expected:

The inner `alt` should be displayed as a series of `or` clauses

[2018-06-25 14:35] bhb commented on #106
This appears to be an issue with spec https://dev.clojure.org/jira/browse/CLJ-2364

[2018-06-25 14:59] bhb commented on #102
I wonder if I could look for both the conformed and unconformed value in the original data, then show both: something like:

[code]

I this more about this.

[2018-06-25 15:29] carocad commented on #102
@bhb I think you can rely on both conform and unform working for a "pure" `and` implementation since those are standard transformations: https://github.com/clojure/spec.alpha/blob/739c1af56dae621aedf1bb282025a0d676eff713/src/main/clojure/clojure/spec/alpha.clj#L1136

However, it is of course possible that a user just mixed `conformer`s directly with an `s/and` call; I am guilty of this btw 😅.

Gen

[2018-06-28 17:07] arichiardi commented on #78
I have run into this and thanks for the workaround!

[2018-07-02 20:36] oakes opened #108 "Errors with large data structures became harder to read"
I use expound in [edna](https://github.com/oakes/edna) and I noticed that errors in 0.7.1 were harder to read than in 0.7.0 when they occur inside a large outer data structure. In 0.7.0, it points to the specific part of the data structure first:

[code]

In 0.7.1, it prints the entire data structure first, and you have to scroll (sometimes far) down to see it eventually point to the specific part

[2018-07-03 07:15] bhb commented on #108
Thanks for reporting this! In 0.7.0, some relevant errors were omitted when there were multiple ways to fix the value (which occurred in macro specs which had many ‘or’ or ‘alt’ specs) so in 0.7.1, I changed the code to show every problem.

However, I agree this choice is quite verbose in this case where only the inner spec is relevant. I’ll think more about how to do the best thing in both cases.

[2018-07-06 08:17] orestis opened #109 "alter-var-root suggestion doesn't seem to have any effect"
I'm not sure if this is actually an issue with expound, or if I'm misunderstanding how it's supposed to work.

## Desired behaviour

All spec errors are handled by expound's printer, no matter if they are made on the REPL during development or at any other place.

## Steps I thought I needed to do

Add the following code to the namespace that contains my `-main` function, which is also the namespa

[2018-07-06 21:24] carocad opened #110 "consider shorting down error message on sequence failure"
For one of my api endpoints I have a quite long response which is compressed of several so-called `steps`. Each step is an object on its own.

The problem arises when one of the last item of the validation fails. It seems that `expound` simply replaces each object in the sequence with `...` which is fine for short sequences but for longer ones becomes a problem (See output below)

[code]

[2018-07-07 05:35] bhb commented on #110
Thanks for submitting this! I agree, the output is quite verbose in cases like this. I’ll think more about how I can shorten the output without losing useful context.

[2018-07-07 11:41] carocad commented on #110
@bhb if I may add. Would it also be possible to add a bit more context to the error report?

In this particular case, `:mode "transit"` is a key-value pair that is repeated in several `steps` so the report showing only the failing value is not enough to know exactly which part is failing.

For that I had to switch back to Clojure `explain` since there I was able to see exactly which values where f

[2018-07-08 06:54] bhb commented on #110
Thanks for that additional information! Yes, I’ll also look at how to best add more context in this case.

FWIW, if Expound is omitting too much information, you can use “custom-printer” with “:show-valid-values?” set to true. The API is a bit inconsistent right now (I plan to simplify things for the beta) so let me know if you have any trouble getting this working.

[2018-07-08 09:04] bhb commented on #110
@carocad Here's the code for that:

[code]
I realize that's not intuitive, but I'll be making this easier at some point. Until then, it may be easiest to wrap it up in a function. Hope that helps!

[2018-07-08 11:05] carocad commented on #110
@bhb Thanks for the info

Using `show-valid-values` together with the `figwheel-theme` do improve the situation a bit. However, now the output is gigantic (due to the size of the response that I have) :(

I think that ideally the failing value should show a bit of the context around (enough to know where the problem is) but not the complete datastructure; otherwise the failing value would get lost

[2018-07-08 13:40] bhb commented on #110
Yes, it’s a bit tricky. Thanks for letting me know about your use case . It’s very helpful to know which cases need improvement. I’ll think more about this.

[2018-07-08 17:33] carocad commented on #110
@bhb i just had an idea about how to approach this problem.

Instead of using 'show valid values' I think the concept of `depth`would be more appropriate. Basically instead of guessing how much context does a user need to understand the problem, let the user directly tell you.

This is (not by surprise) the same way that most Clojure stacktrace libraries work since those also contain lots of data.

[2018-07-08 18:20] bhb commented on #110
Ah, that’s a good idea, thanks!

[2018-07-09 13:43] marco-m commented on #58
FYI  https://dev.clojure.org/jira/browse/CLJ-2166 has been resolved on 2018-06-26 and is available in clojure.spec release 0.2.168

[2018-07-21 21:55] j-cr commented on #109
IIRC, nrepl binds a number of vars including `s/*explain-out*`, so you need to `set!` the var in order for it to work in the repl

[2018-07-21 22:05] j-cr opened #112 ""Cannot convert path" when a failed spec contains `s/keys*`"
Quick example:

[code]

As far as I understand, this is similar to #102 and would be resolved (kind of) by #78, but since there are no issues mentioning `s/keys*` specifically I decided to create this issue anyway in case someone else runs into this.

By the way, thanks for creating this library, it's a must-have!

[2018-07-23 00:45] bhb commented on #112
Thanks for reporting this! Looks like a bug to me.

[2018-07-23 00:58] bhb commented on #109
@orestis thanks for reporting this! This is a common source of confusion, so I should either improve the documentation or add a function that sets up everything correctly.

Can you provide more detail about how you want to use expound in other threads? In my quick test, set! worked fine, but I suspect your use case is different. I’d like to make sure my instructions cover your case.

https://gist.

[2018-07-30 16:36] DjebbZ opened #113 "Integrate with clojure.test.check.clojure-test/defspec"
Hi,

Just a feature idea. The output of `clojure.test.check.clojure-test/defspec` is a bit messy, maybe expound can do something about it ? Not sure it can/should, since the output shows you the first inputs that failed, then shrink them to minimal output that fails, so it's not directly related to a misused spec. But since expound humanize spec-related error messages, I thought maybe it could do

[2018-08-04 03:02] bhb commented on #113
Thanks for suggesting this! I’ll think more about it and let you know.

[2018-08-05 16:40] damesek opened #114 "Emacs cider"
Hello,

I would like to use in Emacs + cider with that project setup:

[code]

[code]
and I got this message:

[code]

Emacs 25.3, Cider version  20180805.1016

p.s. in Repl no problem

[2018-08-05 16:53] damesek commented on #114
Sorry, I closed this. Not issue, something Emacs bug. Now works, after restart.

[2018-08-05 16:53] #114 closed

[2018-08-20 21:29] arichiardi commented on #113
I tried to hook up the printer before a call to `cljs.spec.test.alpha/check` but it seems nothing happens. Has anybody tried that?

[2018-08-20 23:56] bhb commented on #113
@arichiardi I realize you've fixed the README in a PR (thanks!) but just for future readers of this issue: you need to call `explain-results` directly with the results from `check` (after setting the printer) e.g.

[code]

[2018-08-21 00:04] bhb commented on #113
@DjebbZ Thanks again for submitting this!

After some thought, I've decided that this feature doesn't belong in Expound. Although `defspec` *can* be used in conjunction with spec, many people use `defspec` without spec at all. And you can use the generative testing features of spec without ever using `defspec`.

I think that Expound should try to remain narrowly focused on printing spec errors. I'

[2018-08-21 00:04] #113 closed

[2018-08-23 09:31] DjebbZ commented on #113
Thanks for taking the time to think about it. I agree with you.

Keep rocking!

On Tue, Aug 21, 2018, 2:04 AM Ben Brinckerhoff <notifications@github.com>
wrote:

[2018-08-31 19:19] kennyjwilli opened #122 "ArityException when calling expound on a multi-spec with custom retag function"
Take this example code:

[code]

I realize in this trivial example the retag function should be `:type` but for the sake of producing the error in more complex cases, I made it a function.

Running `(expound/expound ::bar {})` produces this exception:

[code]

[2018-09-01 13:46] bhb commented on #122
@kennyjwilli Thanks for reporting this! This is definitely a bug.

[2018-09-05 00:02] arichiardi opened #123 "The expound/def macro does not work in ClojureScript"
Hi Ben!

I was trying a simple definition and I keep getting:

[code]

It seems that the `expound/def` macro cannot expand to `s/def` because in cljs the alias does not actually expand correctly - maybe renaming from `clojure.spec.alpha` to `cljs.spec.alpha` is not done?

I do not know if true but that is what I gather from the errors above.

[2018-09-05 23:13] bhb commented on #123
@arichiardi Ah, yes, I bet you're right. Thanks for reporting this!

[2018-09-06 13:46] bhb commented on #123
@arichiardi As a temporary workaround, can you use the normal `s/def` from spec and then use `expound/defmsg` to add a message?

https://bhb.github.io/expound/expound.alpha.html#var-defmsg

[2018-09-06 19:03] arichiardi commented on #123
Yep doing that now thank you ;)

[2018-09-18 23:26] arichiardi opened #124 "The explain-results function does not work with 1.10-alpha*"
Hi again :smile:

I have just discovered (in ClojureScript) that the `explain-results` function does not work if I have the `1.10-alpha6` dependency in.

Instead of printing the nicely formatted spec failure it prints something like:

[code]

Moving back to `1.9.0` solved the problem.

:+1:

[2018-09-18 23:35] arichiardi commented on #124
Uhm this seems not to be true, I got the `#error` record again after some time. Cannot understand why.

[2018-09-19 00:11] bhb commented on #124
@arichiardi I've seen some strange results with `1.10-alpha6` myself, depending on whether I'm using `lein` or `clj` (Alex Miller noted some REPLs may need to be updated to take advantage of changes in error reporting in 1.10, although I'm not 100% clear on details). If possible, can you try `1.10-alpha8`? I may be imagining things, but I think that has resolved the issue I saw.

I'm sure the issu

[2018-09-19 00:15] arichiardi commented on #124
Trying now :wink:

[2018-09-19 00:41] arichiardi commented on #124
It looks like `1.10.0-alpha8` takes orders of magnitude more time to generate my tests. So much that I cannot wait to complete to see what happens :smile:

[code]

I think this is not stable enough though, will fiddle with it a bit later :wink: Thanks for answering though!

[2018-10-06 17:34] bhb opened #127 "Try `figwheel.main` for tests and CLJS REPL"
Currently the CLJS test code is flaky - see `doc/development` (it requires a call to "sleep" to wait for CLJS code to compile). Furthermore, the errors reported by the CLJS runner are in JS, so hard to debug.

I think `figwheel.main` would help lot here.

Requirements:
1. Display errors in browser during dev
2. Have a way to run in headless mode on linux for CI

[2018-10-16 14:39] aisamu commented on #19
We just got bitten by that as well, might be useful to point it out in the docs!
We're using it in dev and testing only - but we use tomcat during testing, so our artifact is an uberjar.

Would `alter-var-root` be a valid alternative? It looks like Pallet used it at some point:
(From https://stackoverflow.com/a/16448108/7182237, pasting for convenience)
[code]

[2018-10-17 12:38] aisamu commented on #19
Oh, :(
At least the failure mode is not so bad (set! throws an exception and halts tomcat), and if I'm in a REPL I imagine I can rebind it myself.

To be fair, I went straight to the orchestra section and completely missed this paragraph. Even now, knowing it was there, I still had a bit of trouble finding it.

It might be the case that the title could have been more elaborate (e.g. just like "Usi

[2018-10-17 22:16] bhb commented on #19
Good idea! I'll leave this open as a doc issue - I may also explore whether I can just figure out an API that doesn't require users dive into the details of `set!` and `alter-var-root` entirely by intelligently installing Expound. We'll see.

[2018-10-18 19:58] bhb opened #129 "When `keys` spec fails, the entire map is printed out (not the summary form)"
When a keys spec fails, there is no need to print out the values, and doing so means that a huge map will be printed.

[2018-10-23 02:20] bhb opened #132 "Cannot add messages to predicates that are not yet declared specs"
Repro:

`(expound/defmsg ifn? "should be a function (or a keyword, set, map, or vector, which can be used as functions")`

This will fail the spec for `defmsg`.

[2018-10-26 00:34] bhb commented on #102
@carocad @jmlsf I've got a fix for this issue in 0.7.2-SNAPSHOT. If you have time to try it out, please let me know what you think!

[2018-10-26 00:34] bhb commented on #112
@j-cr I've got a fix for this issue in 0.7.2-SNAPSHOT. If you have time to try it out, please let me know what you think!

[2018-10-26 00:35] bhb commented on #78
@arichiardi  @borkdude I've got a fix for this issue in 0.7.2-SNAPSHOT. If you have time to try it out, please let me know what you think!

[2018-10-26 00:37] bhb commented on #15
@danielcompton  I've got a fix for this issue in 0.7.2-SNAPSHOT. If you have time to try it out, please let me know what you think!

[2018-10-26 10:16] carocad commented on #102
@bhb first of all, I have to say "Thanks a lot for putting the effort of figuring this out"

I tried the following cases and they all worked wonderfully.

I think there are some cases where the output could be slightly more accurate but those are pretty much nice to have; here I am referring to the first case 'string parsing', where it is clear from the output that there is a single value not a co

[2018-10-27 00:15] bhb commented on #102
@carocad Thanks very much for trying it out! I appreciate it.

Yes, you're right: Expound could do more here, but since string parsing is advanced at best, and discouraged at worst, I'm not inclined to add much more here. I may change my mind in the future, but I think this is sufficient for now 😄

[2018-10-27 04:50] arichiardi commented on #78
First feedback, with `shadow-cljs` I receive these warnings:

[code]

[2018-10-27 21:07] bhb commented on #129
There isn't a clean way to do this currently, since code to print a value is currently independent of the type of failure (in this case, the failure type is that there are missing keys).

In general, it's not possible to always summarize a map by hiding unimportant values. Consider the case where the user adds a predicate that checks the values of a map - we wouldn't want to hide those values.

Ho

[2018-10-27 21:11] bhb commented on #129
@borkdude's was to write a custom value printer:

[code]

A few things to note:

1. `value-in-context` is currently private, so it's awkward to use it
2. The code special-cases an app-specific data structure (just prints the keys) but then falls back to Expound by default

[2018-10-27 21:17] bhb commented on #127
Once https://github.com/lambdaisland/kaocha has support for CLJS tests, I would like to use that instead of figwheel for tests, since I could use one test setup for both CLJ and CLJS.

[2018-10-28 14:11] reallinfo opened #134 "logo design contribution"
hello @bhb Do you want me to design a logo to make your project more recognizable? If you want, i can make a logo contribution for you. I will wait for feedback. Have a nice day!

[2018-10-28 19:17] bhb commented on #134
Thanks for the offer, but I don't need a logo at this time. Thanks!

[2018-10-28 19:17] #134 closed

[2018-11-02 01:47] bhb commented on #123
@arichiardi What tools are you using to compile the CLJS? I'm not able to reproduce this error, but I suspect it's because my test runner is loading a lot of stuff, so perhaps a more isolated environment would reveal the issue.

[2018-11-02 01:51] bhb commented on #123
@arichiardi Ah, nevermind, I was able to repro using `cljs.main`

[2018-11-02 02:31] arichiardi commented on #123
Oh cool yeah, I did not have too much time for this small PR - you know lazy devs just sometimes settle for the workaround :smile: - but I was planning to give it a go as well

[2018-11-05 03:01] bhb commented on #127
https://figwheel.org/docs/testing.html

[2018-11-05 03:49] bhb opened #135 "Using `defmsg` can cause duplicate printing with `alt` spec"
Given this spec for `map`

https://github.com/slipset/speculative/blob/c0c31d4e055346cb7caa831e28df8f96dda071be/src/speculative/core.cljc#L100-L106

And this message definition

[code]

For the call `(map 1 2)`, expound will print

[code]

[2018-11-05 20:57] hjrnunes opened #136 "ClassCastException when expounding a map with a sorted-map value"
when said `sorted-map` contains any entry with a key other than `Keyword`:

[code]

[code]

Anything other than `Keyword` seems to trigger it. Seems to work if `sorted-map` is top-level.

Hope it helps!
Thanks

[2018-11-08 08:11] miikka opened #137 "ClojureScript warning: var is not public"
The new 1.10.439 release of ClojureScript now [gives warnings when you use private vars](https://clojurescript.org/news/news#_warnings_on_private_var_use). I'm using Expound 0.7.1 with Orchestra 2018.11.07-1 and I'm now seeing the following warnings in my project when I call `orchestra-cljs.spec.test/instrument`:

[code]

[2018-11-08 08:55] Odinodin commented on #137
Just hit the exact same issue.

[2018-11-08 14:40] bhb commented on #137
Thanks for reporting this! I’ll look into it.

[2018-11-15 10:06] borkdude commented on #78
@bhb Is this also available in master?

I've tried http://bit.ly/speculative-repl with

[code]

and I'm seeing:

[2018-11-16 01:17] bhb commented on #78
This is currently only on the “next” branch. I’m hoping to get a release out this month, which will move this to master.

[2018-11-19 03:02] bhb commented on #132
After further consideration, I'm inclined not to change this.

The workaround right is that the user just needs to declare a "wrapper" spec e.g.

`(s/def ::ifn ifn?)`

This is a little bit more work, but the nice thing is that that now two different specs could have different messages e.g. library1 could define a message for `:lib1/ifn` and library2 could define a message for `:lib2/ifn` with no c

[2018-11-19 03:02] #132 closed

[2018-11-19 04:08] bhb commented on #137
Repro:

`rlwrap clojure -Sdeps '{:deps {orchestra {:mvn/version "2018.11.07-1"} expound {:mvn/version "0.7.1"} org.clojure/clojurescript {:mvn/version "1.10.439"}}}' --main cljs.main`

[code]

[2018-11-26 00:07] bhb commented on #123
Update: I worked on this for awhile without a satisfactory resolution. The issue is that it's hard to determine if we want to use `cljs.spec.alpha` or `clojure.spec.alpha`.

If you are executing Clojure code, that *could* mean you want to use `clojure.spec.alpha` OR it could mean you're doing the macro-expansion phase when using CLJS, and really want to expand to `cljs.spec.alpha`.

I considered d

[2018-11-26 01:10] bhb commented on #127
Fixed in 'next' branch.

[2018-11-26 01:10] #127 closed

[2018-11-26 02:45] bhb commented on #137
Thanks again for reporting this! This appears to be an issue in Orchestra, not Expound:

Start a REPL with

`rlwrap clojure -Sdeps '{:deps {org.clojure/test.check {:mvn/version "0.9.0"}  orchestra {:mvn/version "2018.11.07-1"} org.clojure/clojurescript {:mvn/version "1.10.439"}}}' --main cljs.main`

[code]

Expected: Output should be `[ex.one/foobar]`
Actual: Output is:

[code]

Happily, it looks

[2018-11-26 02:45] #137 closed

[2018-12-13 01:39] arichiardi commented on #123
:+1:

[2018-12-13 02:08] bhb commented on #112
Fixed in 0.7.2-SNAPSHOT (to be released soon)

[2018-12-13 02:08] #112 closed

[2018-12-13 02:08] bhb commented on #102
Fixed in 0.7.2-SNAPSHOT (to be released soon)

[2018-12-13 02:08] #102 closed

[2018-12-13 02:08] bhb commented on #78
Fixed in 0.7.2-SNAPSHOT (to be released soon)

[2018-12-13 02:08] #78 closed

[2018-12-13 02:11] bhb commented on #58
Thanks again for the idea! Since I haven't seen a wide adoption of examples, I'm going to close this for now. If examples turn up in say, cljdoc and more people use them, I'd reconsider, but for now, I'm not inclined to add an additional dependency on expound.

[2018-12-13 02:11] #58 closed

[2018-12-13 02:14] bhb commented on #124
@arichiardi I'm going to close this for now, but please let me know if you see any issues with 1.10.0 and Expound (you may want to try 0.7.2-SNAPSHOT, since I will hopefully release that soon). Thanks!

[2018-12-13 02:14] #124 closed

[2018-12-13 05:58] arichiardi commented on #124
Yep no problem, haven't noticed it anymore so maybe it magically disappeared. Thank you!

[2018-12-15 02:39] bhb commented on #19
Closing with https://github.com/bhb/expound/pull/142

[2018-12-15 02:39] #19 closed

[2018-12-15 03:54] bhb commented on #136
@hjrnunes Thanks again for reporting this! This should be fixed in 0.7.2-SNAPSHOT.

[2018-12-15 04:01] #136 closed

[2018-12-15 04:14] bhb commented on #109
@orestis I've added some documentation about this in https://github.com/bhb/expound/pull/142. Please feel free to reopen if you run into a case that isn't explained well in the FAQ.

[2018-12-15 04:14] #109 closed

[2019-02-04 01:22] vemv opened #148 "Idea: improve error messages with compile-time information of the faulty expression"
Hi!

First to give a bit of context, I find myself writing something like the following in every other project:

https://github.com/reducecombine/playground/blob/954104e2c673b8e9952c12c4d707dc946570a68c/src/playground/spec_utils.clj#L6-L12

i.e throw an expounded-powered runtime exception if `spec/valid?` fails. Probably it's a common pattern.

Now, the error messages obtained with this technique

[2019-02-05 02:00] bhb commented on #148
@vemv Cool idea! I can definitely see how that output would the "evaluated from" output would be super useful.

Let me think a little bit more about how this would interact with some other features I have in mind.

Just for my own notes, I'm thinking about:

* Should this maybe be a expound-specific version of `s/assert` so it can be turned on/off with `*compile-asserts*`?
* Maybe it would be wort

[2019-02-07 00:12] bhb commented on #148
@vemv One other thought - it might be worth filing a Clojure JIRA ticket about capturing this information more generally when a user calls `assert` (or, I suppose, during macro-expansion). Up to you.

[2019-02-18 22:04] jsa-aerial commented on #101
If this could be made to work, it would be akin to a game changer. But even for something as simple as this:

[code]
You just get the 'standard' error

Also, trying to use the 'fix' of #96 does not work either:

[code]
Just results in standard error.

So, should I give up on this?

[2019-02-19 01:28] bhb commented on #101
@jsa-aerial Thanks for using Expound! Unfortunately, you're correct: there isn't currently a way to add messages for compound specs like the example you posted above. It's on my radar, but probably won't take priority over some other areas (like spec.alpha2 compatibility) in the immediate future.

[2019-02-19 03:08] jsa-aerial commented on #101
OK, in any event, I actually am wanting 'end user' type messages. And that actually doesn't look to be in the scope of Expound anyway. So, may as well close this.

[2019-02-19 13:42] bhb commented on #101
That’s correct. Expound is focused on messages for developers. Perhaps Phrase would be a better fit here? https://github.com/alexanderkiel/phrase

[2019-02-19 15:00] jsa-aerial commented on #101
Yeah, I was looking at that last night before I replied here. It looks to be 'on the right track", but is totally opaque on how / where / why the dispatch mechanism is tied into your specs.  It works for the simple toy examples given, but does not work at all for even a simple 'or' spec. Or at least it defeated me in getting it to work over the course of many permutations...

[2019-03-22 13:06] mhuebert opened #152 "Using expound printer for `instrument` exceptions in the browser"
Recent updates in cljs [removed](https://github.com/clojure/clojurescript/commit/5f0fabc65ae7ba201b32cc513a1e5931a80a2bf7#diff-c62a39b0b4b1d81ebd2ed6b5d265e8cf) the `explain-out` string from exception messages. This means exceptions thrown by `instrument` will not contain a nicely formatted string even if all the instructions for setting up expound have been followed (eg. setting up `s/*explain-ou

[2019-03-22 13:30] mhuebert commented on #152
re: (3), here's a snippet for adding a [custom formatter](https://docs.google.com/document/d/1FTascZXT9cxfetuPRT2eXPQKXui4nWFivUnS_335T3U/view) to the Chrome devtools console that will use `repl/error->str` to format any `ExceptionInfo` encountered:
[code]

[2019-04-01 08:44] vemv commented on #148
Hey there,

I kept this one in mind so I tried not to distract to with a response, but I think I overshot ;p

My suggested `defmacro check!` has worked pretty great meanwhile. I expanded it so it applies the same `evaluated from` business to both the faulty values, and the specs themselves. That saved me quite some debugging time: think `partial`, macroexpansions and such where specs are dynamical

[2019-04-09 22:09] hlship opened #155 "should contain keys: summary could be improved [0.7.2]"
The `should contain keys` summary of key specs for composites (via `s/keys`) could be better.

[code]

Given:

[code]

I'd expect the table to reference those qualified spec names, rather than what they expand into.

[2019-04-12 01:34] bhb commented on #155
@hlship Thanks for reporting this!

Can you provide an example of what you'd expect the table to contain?

[2019-04-12 01:39] bhb commented on #155
Just to clarify, what's the spec for `::customer`?

I think I see the problem - are you saying that the table should show the spec, but instead of:

`| :store-address | (keys :req-un [string? (and string? (fn [%] (re-matches #"\d{5}(-d{4})?" %))) string? string?]) |`

it should include something like this?

`| :store-address | (s/keys :req-un [:eReceipts.query-service.order-service-proxy-client/st

[2019-05-24 14:00] WhittlesJr opened #160 "Error reports returned as :cause string in an exception when produced by instrumentation within generative testing"
My far-from-minimal reproduction:

[code]

Yields:

[code]

[2019-05-24 16:36] bhb commented on #160
@WhittlesJr Thanks for reporting this. I agree this is not great, but I'll have to think a bit about how to resolve.

Just for posterity (mostly for future self, so I don't forget my context), here is my sense of what's going on:

* When an "instrumentation failure" occurs (i.e. we call an instrumented function the call does not match the spec), Clojure *used* to call `*explain-out*` to create a m

[2019-05-24 16:39] WhittlesJr commented on #160
Oh, if it matters, I'll add that this was run with kaocha from the command line (no REPL involved, but probably it doesn't make a difference).

[2019-05-31 17:30] WhittlesJr commented on #160
Hey @bhb, [this](https://github.com/lambdaisland/kaocha/pull/95) is the solution needed for absolutely free generative testing! Looks like this issue still happens even under kaocha's new spec-test-check feature, but the repro for this issue can be reduced to :

[code]

[2019-06-08 01:14] bhb commented on #93
Related: https://github.com/ring-clojure/ring-spec/pull/7

[2019-06-08 01:15] bhb commented on #74
Closing because I don't see a lot of demand for this feature.

[2019-06-08 01:15] #74 closed

[2019-06-09 23:54] bhb commented on #93
@conan Thanks for reporting this and sorry for the delayed fix. I've fixed this in the next branch (if you want to try it out, you can try commit e478146a61bb97e8feeacfc1a9e926820a4b209a). Note that I've also made an improvement to the ring specs (see link above).

Thanks for using Expound!

[2019-06-09 23:54] #93 closed

[2019-07-04 11:02] aleksandersumowski opened #162 "allow passing options map to expound/expound-str"
currently both `expound`/`expound-str` pass empty opt maps to `printer-str`. It would be nice if it accepted additional arity with opts map passed. Happy to prepare a PR if you were willing to accept such change

[2019-07-04 15:02] bhb commented on #162
@aleksandersumowski Great idea! I've actually implemented this and it will be in the [next version of Expound](https://github.com/bhb/expound/tree/next). Thanks for the idea!

[2019-07-04 15:02] #162 closed

[2019-08-05 17:03] kelvinqian00 opened #165 "Improve grouping of spec errors"
I've been using Expound and overall it's a great library. However the grouping and numbering of spec errors seems to be haphazard, which is annoying when one is validating (for instance) a map with many `keys` predicates.

Here, we have a example `keys` spec:
[code]
Then if I want to validate the following map:
[code]
I ideally want the following output (the Relevant Specs section has been removed

[2019-08-05 22:52] bhb commented on #165
@kelvinqian00 Thanks for reporting this! Yes, this appears to be a bug in how Expound groups specs.

[2019-08-07 16:27] kelvinqian00 commented on #110
I'm also experiencing the same issue as @carocad and my hacked-together solution was simple: capture the printed string from `expound/custom-printer` with `with-out-string`, search for empty lines with the following regex:

`#"(?<=\n)\s+\.\.\.\n"`

and replace each matching string with an empty string. It's a decent solution for my limited use-case, but ideally a similar regex replace would be imp

[2019-08-07 21:15] bhb commented on #110
@kelvinqian00 Thanks for posting this workaround! I agree this is not ideal. I’m thinking about ways to make this behavior optional.

[2019-11-25 02:14] bhb commented on #93
@conan Thanks for reporting this. This fix is included in version 0.8.0, which I've just released.

[2019-11-25 02:15] bhb commented on #155
@hlship Thanks for reporting this! The fix is included in version 0.8.0, which I've just released.

[2019-11-25 02:15] #155 closed

[2019-11-25 02:15] bhb commented on #165
@kelvinqian00 Thanks for reporting this and for your help with the fix! The fix is in version 0.8.0, which I've just released.

[2019-11-25 02:15] #165 closed

[2019-11-25 21:28] bhb opened #171 "Unnecessary dependency on `cider-nrepl`"
Just noticed that https://clojars.org/expound/versions/0.8.0 claims that 0.8.0 has a dependency on `cider-nrepl`, which is not intentional. I'll fix soon but in the meantime, users can use exclusions or similar to remove this dependency: the actual library does not use it.

[2019-11-30 22:20] bhb commented on #171
Fixes in 0.8.1

[2019-11-30 22:20] #171 closed

[2019-12-01 22:41] bhb commented on #122
@kennyjwilli Thanks again for reporting this! This has been fixed as of e27059a6060956abc912b12cd090f21ed6b0cce1 and will be included in the next release.

[2019-12-03 02:25] #122 closed

[2019-12-07 20:58] bhb commented on #101
This has been fixed as of 2c4019fcb48c4eea0fa9dbdc4b36e9bf30f64242

[2019-12-07 20:59] #101 closed

[2019-12-09 03:35] bhb commented on #135
Fixed as of 957302bf69b81a02b10b53bba11a15607fb728ea

[2019-12-09 03:35] #135 closed

[2019-12-10 01:23] bhb commented on #80
I thought about this quite a bit and I think adding this special case (indent a custom message, but only when it's in an 'or' and only when it's replacing a predicate) adds too much complexity to the code for too little benefit. It's unfortunate that the indentation doesn't look ideal in this case, but I think that the relative simplicity of the current rules is a net win.

Closing for now.

[2019-12-10 01:23] #80 closed

[2019-12-22 04:37] vemv commented on #148
Hey there again,

what have you thought about this one?

From my side  I have my `check!` macro hosted here: https://github.com/nedap/utils.spec/blob/ca6097b013488ed6da4463a734c3132bb0e68b8e/src/nedap/utils/spec/impl/check.cljc

Worth noting, `utils.spec` is a tiny isolated library, basically it contains `check!` and little else. i.e. it's an easy read)

I would suggest, we can copy this `check!`

[2019-12-22 16:16] bhb commented on #148
Thanks a lot for your work on this! I haven’t made progress on this. Instead, my current focus in Expound is to think about how to let libraries like ‘utils.check’ customize the output from Expound without needing to do string parsing and manipulation. My goal is to have a better story for the types of customization that advanced users or client libraries want to do.

If I did that, it would make

[2019-12-23 07:18] vemv commented on #148
Hey there,

yes, sure!

Looking forward to news, but also no real issue in keeping things as-is for now. I guess the spec 1->2 transition might make things even more delicate.

[2019-12-29 22:44] bhb commented on #152
@mhuebert Thanks for the write up and the code! I've included these instructions in the README and linked to this issue.

[2019-12-29 22:44] #152 closed

[2019-12-30 18:14] vemv opened #183 "Regression of #3"
Hey there again,

I just tried upgrading [expound "0.7.2"] -> [expound "0.8.3"].

But my cljs tests started failing with that, with the same exact error that the https://github.com/bhb/expound/issues/3 OP attaches: `Cannot read property 'cljs$lang$applyTo' of undefined`.

I could fix it by adding `#?(:cljs [goog.string.format])` in my codebase, just like https://github.com/bhb/expound/commit/131d8

[2019-12-30 19:00] bhb commented on #183
Thanks for reporting this! It's unfortunate the tests didn't catch this mistake. It looks like I broke this in 22655c1dfe9538cbdc6c4e003aac2c984fbe4e15

[2019-12-31 02:29] bhb commented on #183
@vemv Out of curiosity, are you testing on an older version of CLJS? I am just curious because I can repro with

`clojure -Sdeps '{:deps {org.clojure/clojurescript {:mvn/version "1.10.439"} expound {:mvn/version "0.8.3"}}}' -m cljs.main -re node -e "(require '[expound.alpha :as expound]) (expound.alpha/expound int? 5.6)"`

but not

`clojure -Sdeps '{:deps {org.clojure/clojurescript {:mvn/version "

[2019-12-31 02:32] vemv commented on #183
I'm using `org.clojure/clojurescript "1.10.597"`

Thanks for the fix!

[2020-01-01 00:25] bhb commented on #183
@vemv Thanks again for reporting this. Fixed in `0.8.4`

[2020-01-01 00:25] #183 closed

[2020-02-02 16:48] bhb opened #189 "Easier editing of error messages"
See [ADR](doc/arch/adr-003.md)]

[2020-04-02 02:51] bhb opened #191 "`printer` has invalid spec"
Repro:

[code]

`lein test`

`s/*explain-out*` should control the success message, not the outer functions

https://github.com/clojure/spec.alpha/blob/5a4834eeb2967b2eca382efe0afcb3f590bdb3c2/src/main/clojure/clojure/spec/alpha.clj#L257

Workaround is to redefine the spec:

[code]

[2020-06-12 18:44] aviflax commented on #160
I’m wondering if maybe I’ve run into the same problem, or a variant of it.

I’m using Kaocha and Expound.

<details><summary>My <code>tests.edn</code></summary>

[code]

</details>

<details><summary>Terminal session with errors</summary>

[code]

</details>

A few notes:

* My `tests.edn` defines the Kaocha test suites `:examples` and `:properties`
  * `:properties` is a sort of “virtual” test su

[2020-06-15 16:15] aviflax commented on #160
Quick follow-up, I’ve found a possible clue as to what’s been happening in my project:

I’d wanted to use `:print-specs? false` by default, so instead of calling `expound.alpha/expound-str` I was setting `s/*explain-out*` to the result of calling `expound/custom-printer` and then in my tests I was using `s/explain-str`

I just discovered that switching those `explain-str` calls `expound-str` and s

[2020-06-17 01:40] bhb commented on #160
@aviflax Thanks for the info! I appreciate it. I'm super busy right now, but as soon as I get some cycles, I'll dig into this a bit more and see if I can isolate it.

[2020-06-17 01:47] bhb commented on #160
@aviflax Actually, I think you may be running into a different bug https://github.com/bhb/expound/issues/191

Can you try one of two things?

1. If you can rely on a specific SHA of Expound easily, can you test out 391e45f8bb94a08a054c5c8ded82bbc8acbdde0e ?
2. If not, can you try the workaround mentioned [here](https://github.com/bhb/expound/issues/191)?

[2020-06-17 02:05] aviflax commented on #160
Yup, I’ll give those a try tomorrow. Thanks!

[2020-06-17 14:19] aviflax commented on #160
Yup, 391e45f8b seems to have resolved the problem. Thank you!

I can use this version of the code for now; using gitlibs via tools.deps is my normal modus operandi so it’s really no big deal. That said, it’s one more thing I have to document and explain in the `deps.edn` file, so if you can maybe get this into the main branch at some point, and ideally maybe even a tagged release, that’d be excell

[2020-06-18 13:24] bhb commented on #191
@RickMoynihan @aviflax This has been fixed in Expound 0.8.5.

[2020-06-18 13:24] #191 closed

[2020-06-18 17:05] aviflax commented on #191
Fantastic, thank you!

[2020-07-06 05:17] jeaye opened #194 ""Cannot convert path" on instrumentation failures in the wild"
Hey Ben!

I've been looking into an issue I've seen with the Expound + Orchestra marriage in the wild. The reproduction case is very simple, but I haven't been able to reproduce it in Orchestra's tests (in fact, I have an [Expound test case](https://github.com/jeaye/orchestra/blob/master/test/cljc/orchestra/expound_test.cljc) and it works swimmingly).

So, the code is actually taken from my Expoun

[2020-07-07 02:23] bhb commented on #194
@jeaye Thanks for reporting this! 😄

I could be mistaken, but that error message looks to be from an older version of Expound. Is it possible that the case in the wild is using a version prior to `0.7.2`? It looks like your test is using the latest Expound (`0.8.5`), which is why you may be seeing different behavior here.

The reason I ask is that this sounds like it might be an instance of [this

[2020-07-07 02:50] jeaye commented on #194
Nooooooo. I think you're right. I'll check in a couple of hours and get back to you. :facepalm:

[2020-07-07 04:07] jeaye commented on #194
Yeah, that is the case. That project was using `0.7.1`. :facepalm:  Thanks for taking the time to look into it!

[2020-07-07 04:07] #194 closed

[2020-07-07 12:32] bhb commented on #194
No worries, glad that fixed it!

[2020-08-11 00:05] raymond-w-ko opened #197 "(cljs.spec.test.alpha/instrument) breaks expound due to wrong arity"
Hello, I am using expound in ClojureScript "1.10.773", with shadow-cljs "2.10.21" inside the latest Chrome browser.

When I turn instrumentation (either via `cljs.spec.test.alpha/instrument`) or via `orchestra-cljs.spec.test/instrument` my code crashes with:
[code]
and when you inspect the function in the console, it indeed does not have this arity.
[code]

My working theory is that: https://githu

[2020-08-12 20:01] joefromct opened #198 "should expound work anywhere s/explain works? - clojurescript error"
Hi,

Maybe i'm misunderstanding the scope of expound, however is it safe to assume that any data that works with `explain` should work with `expound`?

For instance, does there appear to be something wrong with this?

[code]

This is just for a toy clojurescript re-frame app, but i'm surprised i'm seeing this.

My shadow-cljs.edn has `[expound "0.8.5"]` as a dependency.

[2020-08-13 17:55] bhb commented on #198
@joefromct That's correct: you should be able to replace `explain` with `expound` and it should just work. I would expect your example to work without error.

I'm not sure if this is a bug in Expound that only occurs with your specific combination of spec and data, or perhaps some incompatibility with Expound and Shadow that I'm unaware of.

Does this always occur, or only with certain specs and d

[2020-08-13 18:20] bhb commented on #197
@raymond-w-ko Interesting!

There's a few variables here (Clojurescript, Shadow, Chrome, perhaps other things in your environment), so let's see if we can get to the bottom of it 😄

On my side, I can't reproduce the issue in a Node REPL (unless I'm missing some important step in the repro):

`clj -Sdeps '{:deps {org.clojure/clojurescript {:mvn/version "1.10.773"} expound {:mvn/version "0.8.5"}}}'

[2020-08-14 00:22] raymond-w-ko commented on #197
Thank you very much for the response!

I did some more experiments and the results are maddening! I am looking at the generated JS code for the troublesome project and they look almost the same.

The key line is:
[code]
I tried to make a minimal reproduction, where I am using shadow-cljs to output a node.js library and it works. I paste the above line in the node.js REPL and it works.

I then trie

[2020-08-14 01:34] raymond-w-ko commented on #197
Okay, I tracked it down the cause of my issues,and it is caused by `[orchestra-cljs.spec.test]` being `require`d everywhere.

It is probably caused by https://github.com/jeaye/orchestra/commit/d4bb78659d66a18075ede05b7a5f984287d2dfbd
They moved from a clone implementation to a monkey patch implementation. Obviously, something about the implementation is not complete.

Thanks for all your help 😃

[2020-08-14 01:34] #197 closed

[2020-08-14 12:39] bhb commented on #197
Thanks for posting the results of your investigation here! I suspect others may run into similar issues. Good luck!

[2020-08-17 15:34] joefromct commented on #198
Hi, Apologies for not getting back to you sooner.  Thanks for the reply.

This seems to work as expected:

This seems to work as expected:
[code]

However, when running over my app-db in re-frame it must not likes something in there; as stated, s/explain seems to work:

[code]

[2020-08-17 15:46] Limess opened #199 "Error in :ret check when using with Orchestra 2020.07.12-1"
Copied the details from a discussion on the Clojure slack, the messages in these links may expire.

First message around this issue: https://clojurians.slack.com/archives/CC68FBBAM/p1597150256011800
Follow up where we dug into it a little: https://clojurians.slack.com/archives/CC68FBBAM/p1597677078024100

I'm seeing the following exception:

[code]

when using expound with Orchestra:

[code]

The

[2020-08-17 16:03] joefromct commented on #198
Here's some additional details on part of my spec and data that strangely yields the error:

[code]

Here's the relevant bits of the spec at the moment:
[code]

[2020-08-17 16:22] joefromct commented on #198
I think i have a smaller reproducible error here; The core of the issues is that expound behaves differently when I accidentally leave out a key from my app-db:

[code]

[2020-08-17 23:45] bhb commented on #198
@joefromct Thanks for the repro! I can confirm this reproduces for me on CLJS.

[2020-08-18 00:46] bhb commented on #198
@joefromct Thanks for reporting this. If it's convenient in your project setup to depend on a specific SHA, this should be fixed in 121006405379b472a78317413aaec43896c160d6. If not, it'll be included in the next release (after I fix at least one other issue).

[2020-08-20 02:19] bhb commented on #198
Fixed in https://github.com/bhb/expound/pull/200

[2020-08-20 02:19] #198 closed

[2020-09-30 23:48] bhb commented on #199
@Limess Thanks for reporting this and apologies for the long delay. It appears the new implementation of Orchestra had some changes in the `explain-data` that broken Expound and it took me a bit to figure out how to support both the old and new formats.

Do you have the ability to try out a specific git SHA in your project? If so, I'd appreciate it if you could try cdabbff6dcd2ac5570fba916125c7bfd

[2020-10-01 10:15] Limess commented on #199
No worries, really appreciate your work on this!

I checked out that SHA and tried it and it fixes the issue we were seeing 👍🏻.

[2020-10-01 13:47] bhb commented on #199
@Limess Thanks for trying it out!

[2020-10-01 22:35] bhb commented on #199
Fixed in https://github.com/bhb/expound/pull/202

[2020-10-02 00:25] bhb commented on #199
@Limess Thanks again for your help. I've just released 0.8.6, which includes this fix.

[2020-10-02 00:25] #199 closed

[2020-10-02 00:28] bhb commented on #160
@aviflax Sorry for the delayed reply, but this was fixed in 0.8.5

[2020-10-02 00:29] bhb commented on #198
@joefromct Thanks for your help on this. I just released 0.8.6, which includes this fix.

[2020-10-02 00:29] aviflax commented on #160
No worries — thanks for letting me know!

[2020-11-12 14:23] avocade opened #205 "Internal error in `lift-singleton-groups` when having a datomic db value in fn args"
We've found an issue where `lift-singleton-groups` crashes when a datomic DB is one of the arguments. The crash is related to its use of `walk/postwalk`, which assumes DB can be treated as a regular map.

The problem can be reproduced by running:

[code]

[2020-11-12 15:39] eneroth commented on #205
The specific error message:

[code]

[2020-11-12 16:01] Jaretbinford commented on #205
A Datomic DB `(d/db conn)` is not a map and does not return a map.  It is a database.

[2020-11-12 16:37] bhb commented on #205
I’m afraid I don’t fully understand (I don’t use Datomic, so I may be missing something).

Are you writing a spec for your database? What happens if you try to check the spec without using Expound e.g. using `s/valid?` or `s/explain` using spec?

[2020-11-12 16:48] eneroth commented on #205
![Screenshot 2020-11-12 at 17 48 03](https://user-images.githubusercontent.com/333974/98969541-3b073f80-250f-11eb-9929-942c7594004a.png)

It implements the map protocol, which causes `postwalk` to blow up.

[2020-11-12 16:52] eneroth commented on #205
We encountered this when using [Guardrails](https://github.com/fulcrologic/guardrails), which in turn leans on expound. We have functions which take a DB as an argument, and we are specing those functions. If a Datomi DB is present as an argument to a function, postwalk _will_ blow up, it doesn't matter if the spec passes or not (it can be `some?`, for example, and the error above still occurs).

[2020-11-13 09:04] eneroth commented on #205
I'm guessing the same problem would occur with any object that answers `true` to the predicate `map?`, but isn't actually an `IPersistentHashMap`. We just happened upon this with the Datomic DB object.

[2020-11-13 13:14] bhb commented on #205
Ah, I see. Thanks for the context and for reporting this bug!

[2020-11-29 22:26] bhb commented on #205
@avocade @eneroth Thanks for reporting this bug and for the patch! I ended up going a slightly different direction with the fix, but my patch should still solve the root cause.

If you're using `deps.edn`, do you mind trying out bdccedc96c65e0d104e6139121a501453007f398 and making sure it solves your issue?

Thanks!

[2020-11-29 22:29] #205 closed

[2020-11-30 09:15] avocade commented on #205
Cool! 🙏🏻

[2020-11-30 10:01] eneroth commented on #205
I've tested it out, and it all looks green!

[2020-11-30 15:43] avocade commented on #205
Please let us know when you have the next release out, so we can ping Tony over at https://github.com/fulcrologic/guardrails with a PR! :)

[2020-12-01 01:35] #160 closed

[2020-12-05 20:25] bhb commented on #205
@avocade I've just released 0.8.7 which includes this fix.

[2020-12-18 21:58] avocade commented on #205
Cool that's great! Thanks a lot, will try it soon.

[2021-02-05 10:16] avocade opened #209 "Crash bug when printing, if a datomic db is present and the spec fails"
There seems to still be a crash issue when a spec fails and a datomic db is involved.

This time it's the `highlighted-value` fn (in `expound.printer`), which fails in a similar way (`datomic.core.db.Datum cannot be cast to class java.lang.Number`) as the previous issue that was fixed in:

https://github.com/bhb/expound/issues/205

The printer uses `walk`, which was also implicated in the issue be

[2021-02-05 10:32] eneroth commented on #209
The problem is this line:

https://github.com/bhb/expound/blob/1c0d78570be3865eab8e69c1b568c4e7acee5bd8/src/expound/printer.cljc#L423

If replaced with
[code]

… it works fine. I.e., it seems like a similar issue to previously: walk tries to get into the map-like object and do replacements.

[2021-02-05 10:38] avocade commented on #209
Maybe use something similar to the recursive walk used in `groups-walk` to fix the previous bug:

https://github.com/bhb/expound/blob/ae2a15d4cbae5991ab6fea40163deab6908841a8/src/expound/alpha.cljc#L570

[2021-02-06 15:24] bhb commented on #209
Thanks for reporting this!

[2021-02-06 15:37] bhb commented on #209
Do you happen to have a repro including the spec? I'm having trouble reproducing this.

[2021-02-06 15:45] bhb commented on #209
Also, what options are enabled? https://github.com/bhb/expound#printer-options

[2021-02-06 16:01] bhb commented on #209
Actually, I found a repro. Nonetheless, if you could provide details about your repro and options, that would help ensure I fix the core bug.

My repro:

[code]

Do you have `:show-valid-values?` set to `true`? What happens if you set that to `false`?

[2021-02-06 16:38] bhb commented on #209
In particular, I'm curious what specs you use to validate your Datomic DB.

[2021-02-06 20:21] avocade commented on #209
Hey, sorry we should have posted som repro code. Will try to do that on Monday 👍

[2021-02-06 22:46] bhb commented on #209
@avocade No problem at all, I appreciate you reporting the bug.

I think I have a fix for my simple repro, but I'm curious about how you spec the `db` value. I'm a little worried my first attempt at a first won't work if someone uses `{:show-valid-values? false}`, but I'm having trouble reproducing in that case.

[2021-02-08 10:23] eneroth commented on #209
I think I've managed to produce a small failing example. The error it gives is slightly different depending on whether I use a Datomic DB or your fake DB.

[code]

With `fake-db`, it gives
[code]

With `(d/db conn)`, it gives
[code]

As previously with `walk`, it mostly works OK until there's a failing spec. In this case, I can't get it to fail by only giving it the DB and some failing spec, such

[2021-02-08 10:32] eneroth commented on #209
Yeah, we encounter these problems via `guardrails`, which uniformly uses `{:show-valid-values? true, :print-specs? true}` as args to `expound-str`.

I can't reproduce the problem with these switches off (or, I _think_, only `:print-specs?`). But in general, I think the takeaway is that `walk` always is an unsafe option when it comes to processing structures where "map-like" objects may occur, due

[2021-02-08 13:57] bhb commented on #209
Thanks for the info! If you're able, do you mind posting the real-world spec you use to spec your `db`, if any? This will inform my possible solutions here.

I agree, but doing some sort of traversal and modification of the data is necessary for summarizing failures when `:show-valid-values?` is set to `false`. I'd like to preserve that feature, since it can significantly shrink the output. That f

[2021-02-08 17:42] eneroth commented on #209
We create an `env` map with some information in it (the `DB` at a revision, the `conn`, a timestamp, and so on). This we throw around many places, and perhaps most significantly, we merge it into `Pathom`s `env` map, meaning that it's subject to any spec failure that might occur on `Pathom`'s side.

We have given up on speccing `conn` and `db` themselves, since it's very hard to assert what's a co

[2021-02-09 00:52] bhb commented on #209
Thanks, that's very helpful!

[2021-02-09 01:07] bhb commented on #209
Sorry, I was unclear. In order to support hiding irrelevant data, Expound makes a new version of the specced data structure that will contain many copies of `:expound.problems/irrelevant` (along with other data that allows underlining the bad value). This works fine in practice if the specced data is plain data, but the problem occurs when we try to spec values like Datomic DBs.

One solution is t

[2021-02-09 01:17] bhb commented on #209
If you have the ability to depend on a SHA version in your project, do you mind trying https://github.com/bhb/expound/pull/210/commits/18c82da80e6bc8f467301dc18750d7013a78f885 and seeing if it fixes the issue for you?

[2021-02-11 11:22] avocade commented on #209
I did a very quick check and it seems to work fine now with https://github.com/bhb/expound/commit/18c82da80e6bc8f467301dc18750d7013a78f885 👍 Having a `datomic db` value in a failing spec just prints the spec error in the console as we'd expect. Thanks!

[2021-02-11 15:54] aviflax opened #214 "Feature inquiry: a convenience function for validating a value against a spec"
I feel like I’ve written variations on this fn across a bunch of projects:

[code]

so I’m wondering whether this, or something similar, might be a good idea to include in Expound?

I’d be happy to submit a PR, if so.

Thank you!

[2021-02-11 23:08] bhb commented on #214
@aviflax Thanks for the idea, I appreciate it!

At least for now, I'm going to keep Expound focused on just improving the spec error messages. This is method is useful, but I think it's a better fit for a separate library.

[2021-02-11 23:08] #214 closed

[2021-02-11 23:11] aviflax commented on #214
Sure, that makes sense. Thanks for considering it and the gracious feedback!

[2021-02-12 01:09] bhb commented on #209
Thanks again for reporting this and testing the fix! This has been fixed in 0.8.9

[2021-02-12 01:09] #209 closed

[2021-02-19 11:08] avocade commented on #209
Thanks!

[2021-03-12 20:38] kelvinqian00 opened #215 "Wrapped `s/keys` does not properly display unqualified keyword specs"
If you use `s/keys` with `:req-un` and wrap it as part of a larger spec, expound is unable to determine the spec for the unqualified spec identifier. For example, this example from the tests works fine at first:

[code]
in which you get
[code]

But when you wrap the `user` spec in an `s/and` or an `s/or`, you get the following:
[code]

[2021-03-12 22:34] bhb commented on #215
@kelvinqian00 Thanks for the bug report and repro! I'll take a look.

[2021-03-14 15:26] bhb commented on #215
@kelvinqian00 I'm having a hard time reproing this. I tried the following specs and I can't seem to get the results you showed above.

[code]

I'm likely misunderstanding some detail of your repro. Can you should the spec you used to get the result above? Thanks!

[2021-03-15 13:38] kelvinqian00 commented on #215
Ah, sorry for the lack of clarity. When I meant "when you wrap the user spec in an `s/and` or an `s/or`" I meant wrap the _predicates_ that make up `:keys-spec/user` in another spec, not the keyword. For example:
[code]
will give the desired result.

I actually had to move the `s/and`s in my project up one level so that they wrap the keywords, similar to what you did, and that was my workaround fo

[2021-03-24 14:28] aviflax opened #216 "ClassCastException from `expound-str` when running in AWS Lambda"
I’m using Expound in an AWS Lambda function to provide useful error messages when the invocation payload is invalid. This works when I test it locally using a vanilla JRE, but fails when running in AWS Lambda.

I don’t understand the error message, so I don’t think I can be any more helpful than just providing it as a bug report and asking: is there something we can do about this?

### The error:

[2021-03-24 16:25] aviflax commented on #216
Ah, the runtime is `Java 11 (Corretto)`

[2021-03-25 13:31] bhb commented on #216
Thanks for reporting this!

I'm not super familiar with Lambda. Are you using a tool to create an uberjar? If so, which tool? Can you reproduce by running the uberjar locally?

The reason I ask is that the error message matches these bugs in various tools:

https://github.com/healthfinch/depstar/issues/10
https://github.com/cursive-ide/gradle-clojure/issues/7
https://github.com/cursive-ide/gradle-

[2021-03-25 13:54] aviflax commented on #216
Ah, yes, I’m using depstar. I’ll try to reproduce locally. Thanks!

[2021-04-11 23:41] bhb commented on #216
Did you have any luck tracking down a repro for this locally?

[2021-04-12 15:23] aviflax commented on #216
@bhb I just spent an hour [trying to reproduce](https://github.com/tether-energy/expound-repro-216), but so far I have been unsuccessful. If you have any suggestions, please share. Thanks!

[2021-04-12 15:25] aviflax commented on #216
🤔 I guess the next thing would be to try to run the repro code in an actual Lambda “function” on the actual Lambda service. I don’t have time for that right now… maybe later this week…

[2021-04-12 17:59] alexandergunnarson opened #217 "Small *print-length* and/or *print-level* sometimes yield NPE"
I ran into this when setting `*print-length*` and `*print-level*`, such that the string that `pprint-str` outputs within `highlighted-value` doesn't actually contain the spec-failing part of the value.

A minimal example:
[code]
Yields an NPE:
[code]

One possible fix for this is to unset `*print-length*` and `*print-level*`:
[code]

Loosely related to https://github.com/bhb/expound/issues/15.

[2021-04-12 22:56] bhb commented on #217
@alexandergunnarson Thanks for reporting this! I'll take a look

[2021-04-13 00:30] alexandergunnarson commented on #217
No problem — thanks!

[2021-07-26 17:22] vemv commented on #215
Hi @kelvinqian00! Likely it would be useful to have a bug repro following your new insight, WDYT?

Cheers - V

[2021-07-26 17:27] vemv commented on #216
In case it helps, I see `lambdainternal.CustomerClassLoader` as part of the stacktrace. Perhaps it's worth understanding how that classloader and Clojure's own interact.

[2021-07-26 17:36] vemv commented on #216
As this piqued my curiosity I asked around in #aws-lambda:

![image](https://user-images.githubusercontent.com/1162994/127033395-81e10023-5899-42f1-a774-2c2c535d96a2.png)

You might have luck disabling AOT and/or choosing a specific lambda runtime. Of course that might affect cold starts etc - would depend on the use case.

[2021-08-15 02:34] #217 closed

[2021-08-15 02:36] bhb commented on #217
@alexandergunnarson Thanks for reporting this! This has been merged into master.

And thanks @vemv for the fix!

[2021-08-15 02:45] vemv commented on #217
🍻!

[2021-08-15 02:46] alexandergunnarson commented on #217
No problem @bhb, and thanks for the fix @vemv!

[2021-09-02 02:09] #215 closed

[2021-09-02 02:09] bhb commented on #215
@kelvinqian00 Thanks for reporting this! This is fixed in 78be8006104a5f93f243e4fd3e8382e40e3c714e

[2021-09-02 02:10] bhb commented on #216
@aviflax I'm going to close this, since it appears to be an issue with the classloader.

[2021-09-02 02:10] #216 closed

[2021-10-02 18:12] nikolavojicic opened #229 "PersistentList cannot be cast to class Name"
**Repro:**
[code]
`clojure.spec.alpha 1.11.0-alpha2`
[code]
`expound.alpha 0.8.10`
[code]

[2021-10-04 01:19] bhb commented on #229
@nikolavojicic Thanks for reporting this!

[2021-11-02 08:35] mpenet opened #233 "proposal : defmsg equivalent for arbitrary predicates"
Hi,

I know that right now we can do this for things that are referencable via a qualified-kw.

Would you be open to add the ability to replace the output from predicates in messages?

The idea would be to add pattern matching on predicates and allow to generate a message from the bound values for a match:

from a `(s/coll-of string? :min-count 3)`

[code]

Could become

[code]

`string?` -> `shou

[2021-11-04 09:21] mpenet commented on #233
I am toying with these ideas in https://github.com/mpenet/expound/tree/feat/better-messages-errs

While doing so I already improved defmsg to allow to resolve aliases (as deep as they are).

[code]

I also added the ability to create display names for specs (wip):

[code]

[2021-11-04 09:29] mpenet commented on #233
lastly one easy solution to the predicate translation task I mentioned would be just to allow the use of phrase in expound

[2021-11-05 01:27] bhb commented on #233
@mpenet Thanks for the idea! I'll think this idea over and let you know.

[2021-11-05 08:22] mpenet commented on #233
great! I was thinking, if I modify slightly the code in my branch for "traversing" defmsg it could handle custom messages for things like string? (any qualified-ident?) too.

But maybe there's a need to step back and see how to unify all this, it feels like there is some overlap between these features.

If I was to go nuclear I would probably design a new version of defmsg (with a new name) that c

[2021-11-07 13:52] bhb commented on #233
@mpenet Can you walk me through the problem you're running into?

For instance, in your case, are you in control of writing the specs? Or are you improving the printing for specs you don't control?

I'm specifically wondering if it's possible just provide your specs a name, which would then allow you to provide custom descriptions. As a bonus, giving the specs name might make them more reusable an

[2021-11-08 09:44] mpenet commented on #233
Sure.

We would like to avoid exposing clojure sexprs in the error messages **and** the descriptions of shape of maps for instance (and likely other places). Basically make everything more human readable (without clojure experience)

For instance, right now if you are missing some keys in a map, the ascii table will contain the raw predicate associated to that key and not a human readable message

[2021-11-08 14:06] mpenet commented on #233
I created https://github.com/bhb/expound/pull/234/files that demonstrate the modifications of defmsg to make it traverse all specs associated with key until a match is found and also as a result make it able to handle any type of spec form.

[2021-11-09 13:25] bhb commented on #233
Thanks a lot for all the great context and detail! I’ll look all this over later this week.

[2021-11-14 01:17] bhb commented on #233
@mpenet Thanks for the write-up and the code! I appreciate it!

I agree. At first glance, your implementation looks good, so I'm inclined to add some version of this feature. Thanks!

While I can see why this would be convenient, I'm not convinced the complexity of adding this feature would justify it's utility. In practice, do most codebases have many different uses of `coll-of`, `map-of`, etc, b

[2021-11-15 08:29] mpenet commented on #233
That's great news, that's the number one feature we need on our list of priorities.

About extension points I agree completely. Instead of baking our specific use case opening a few extension points could be a good way to let users achieve this.

Then the main question would be at what level would you want to do this. Do you want the users to have full control over what's displayed (essentially wr

[2021-11-16 00:53] bhb commented on #233
It's a good question. Ideally, I would identify a few extension points, but in practice, the requests have bee quite varied

* Change the way specs are displayed in tables (this issue)
* More generic control over spec messages e.g. generic rewrites of `coll-of`, `map-of`, etc (this issue)
* Shrinking the number of array elements shown when printing a value https://github.com/bhb/expound/blob/maste

[2021-11-16 11:29] mpenet commented on #233
Yes, that would be the ideal solution indeed.

[2021-12-26 23:15] bhb commented on #233
@mpenet Thanks for the suggestion and the code! After a lot of consideration, I decided to not include support for messages for predicates and arbitrary spec forms, since this complicated the API considerably.

Instead, if you want to reuse the same error message, you can declare your own specs.

[code]

[2021-12-27 17:18] mpenet commented on #233
Thanks for the notification. I understand your decision.

[2021-12-27 17:18] #233 closed

[2022-01-14 01:58] bhb commented on #229
This has been released as part of 0.9.0

[2022-01-14 01:59] bhb commented on #233
@mpenet Thanks for all your help here. I've just released 0.9.0, which includes this functionality.

[2022-07-26 02:42] drewverlee opened #241 "optional include location of the spec error in the message."
When i'm reading expound formatted spec errors it's usually very clear what the issue is,  it's not immediately clear where the error is. This information: the filename, and possible the row and column. Is in the raw spec error output as well as the SO, but they can be far from the expound message. In the case of the raw spec error, is just a big clojure map that's tiresome to parse.

My suggestio

[2022-07-26 13:49] bhb commented on #241
@drewverlee Thanks for the idea! I'll look into it.

[2022-09-30 00:41] bhb commented on #214
@devurandom Nice!

[2022-10-11 00:45] bhb commented on #241
@drewverlee Sorry for the delay here! I've had a bunch of other stuff going on.

This is a cool idea, but AFAICT, the data that is passed to expound (the result of [`s/explain-data`](https://clojure.github.io/spec.alpha/clojure.spec.alpha-api.html#clojure.spec.alpha/explain-data)) doesn't appear to include this line number information.

I may be missing something, though! Can you provide more cont